/* Primitives — Value */
:root {

  /* ── COLOR ─────────────────────────────────────────────── */
  --color-black: oklch(0 0 0);
  --color-white: oklch(1 0 89.88);
  --color-transparent: transparent;
  --color-global-gray-50: oklch(0.9761 0 89.88);
  --color-global-gray-100: oklch(0.9702 0 89.88);
  --color-global-gray-200: oklch(0.9219 0 89.88);
  --color-global-gray-300: oklch(0.8761 0 89.88);
  --color-global-gray-400: oklch(0.7155 0 89.88);
  --color-global-gray-500: oklch(0.5555 0 89.88);
  --color-global-gray-600: oklch(0.4386 0 89.88);
  --color-global-gray-700: oklch(0.3791 0 89.88);
  --color-global-gray-800: oklch(0.2809 0 89.88);
  --color-global-gray-900: oklch(0.1913 0 89.88);
  --color-global-gray-950: oklch(0.1684 0 89.88);
  --color-global-red-50: oklch(0.9725 0.0119 23.7);
  --color-global-red-100: oklch(0.9394 0.0288 22.95);
  --color-global-red-200: oklch(0.89 0.0559 22.35);
  --color-global-red-300: oklch(0.8014 0.1094 24.57);
  --color-global-red-400: oklch(0.7086 0.1699 26.47);
  --color-global-red-500: oklch(0.6371 0.2104 28.54);
  --color-global-red-600: oklch(0.5758 0.2088 29.48);
  --color-global-red-700: oklch(0.5003 0.1821 29.51);
  --color-global-red-800: oklch(0.4322 0.15 28.99);
  --color-global-red-900: oklch(0.3975 0.1183 31.52);
  --color-global-red-950: oklch(0.3046 0.0952 31.72);
  --color-global-teal-50: oklch(0.9833 0.0146 175.74);
  --color-global-teal-100: oklch(0.9521 0.0506 177.9);
  --color-global-teal-200: oklch(0.9088 0.0945 177.3);
  --color-global-teal-300: oklch(0.8516 0.1253 179.14);
  --color-global-teal-400: oklch(0.7798 0.135 177.82);
  --color-global-teal-500: oklch(0.6988 0.1256 177.99);
  --color-global-teal-600: oklch(0.5963 0.1044 182.21);
  --color-global-teal-700: oklch(0.5066 0.0868 182.23);
  --color-global-teal-800: oklch(0.4332 0.0702 185.48);
  --color-global-teal-900: oklch(0.3853 0.0597 185.21);
  --color-global-teal-950: oklch(0.2571 0.0366 186.32);
  --color-global-white-a5: oklch(1 0 89.88 / 0.05);
  --color-global-white-a10: oklch(1 0 89.88 / 0.1);
  --color-global-white-a20: oklch(1 0 89.88 / 0.2);
  --color-global-white-a30: oklch(1 0 89.88 / 0.3);
  --color-global-white-a40: oklch(1 0 89.88 / 0.4);
  --color-global-white-a50: oklch(1 0 89.88 / 0.5);
  --color-global-white-a60: oklch(1 0 89.88 / 0.6);
  --color-global-white-a70: oklch(1 0 89.88 / 0.7);
  --color-global-white-a80: oklch(1 0 89.88 / 0.8);
  --color-global-white-a90: oklch(1 0 89.88 / 0.9);
  --color-global-white-a95: oklch(1 0 89.88 / 0.95);
  --color-global-black-a5: oklch(0 0 0 / 0.05);
  --color-global-black-a10: oklch(0 0 0 / 0.1);
  --color-global-black-a20: oklch(0 0 0 / 0.2);
  --color-global-black-a30: oklch(0 0 0 / 0.3);
  --color-global-black-a40: oklch(0 0 0 / 0.4);
  --color-global-black-a50: oklch(0 0 0 / 0.5);
  --color-global-black-a60: oklch(0 0 0 / 0.6);
  --color-global-black-a70: oklch(0 0 0 / 0.7);
  --color-global-black-a80: oklch(0 0 0 / 0.8);
  --color-global-black-a90: oklch(0 0 0 / 0.9);
  --color-global-black-a95: oklch(0 0 0 / 0.95);
  --color-global-orange-50: oklch(0.9849 0.0204 91.58);
  --color-global-orange-100: oklch(0.956 0.0552 91.41);
  --color-global-orange-200: oklch(0.9112 0.1109 90.28);
  --color-global-orange-300: oklch(0.8594 0.1499 84.74);
  --color-global-orange-400: oklch(0.8109 0.1634 75.65);
  --color-global-orange-500: oklch(0.7469 0.1701 62.11);
  --color-global-orange-600: oklch(0.6463 0.1695 50.2);
  --color-global-orange-700: oklch(0.5394 0.1562 42.99);
  --color-global-orange-800: oklch(0.4615 0.1337 40.94);
  --color-global-orange-900: oklch(0.4061 0.1142 40.57);
  --color-global-orange-950: oklch(0.3013 0.08 40.87);
  --color-global-green-50: oklch(0.9788 0.0221 160.24);
  --color-global-green-100: oklch(0.958 0.041 156.36);
  --color-global-green-200: oklch(0.8958 0.0886 157.59);
  --color-global-green-300: oklch(0.8274 0.1293 158.51);
  --color-global-green-400: oklch(0.7585 0.1527 157.18);
  --color-global-green-500: oklch(0.6731 0.1596 155.59);
  --color-global-green-600: oklch(0.5862 0.1429 155.15);
  --color-global-green-700: oklch(0.4987 0.1168 157.07);
  --color-global-green-800: oklch(0.423 0.0945 158.65);
  --color-global-green-900: oklch(0.3724 0.0808 159.87);
  --color-global-green-950: oklch(0.2857 0.0586 161.78);
  --color-global-blue-50: oklch(0.9666 0.0157 266.28);
  --color-global-blue-100: oklch(0.9052 0.0455 264.92);
  --color-global-blue-200: oklch(0.8436 0.0771 263.68);
  --color-global-blue-300: oklch(0.7514 0.1271 263.38);
  --color-global-blue-400: oklch(0.6562 0.1826 262.74);
  --color-global-blue-500: oklch(0.5884 0.2244 262.18);
  --color-global-blue-600: oklch(0.5367 0.2286 262.17);
  --color-global-blue-700: oklch(0.5018 0.2437 262.6);
  --color-global-blue-800: oklch(0.4356 0.2085 262.43);
  --color-global-blue-900: oklch(0.3798 0.1772 262.11);
  --color-global-blue-950: oklch(0.2831 0.1256 261.41);
  --color-global-purple-50: oklch(0.9684 0.016 289.93);
  --color-global-purple-100: oklch(0.9418 0.0282 290.22);
  --color-global-purple-200: oklch(0.8912 0.0547 288.67);
  --color-global-purple-300: oklch(0.8041 0.1039 289.42);
  --color-global-purple-400: oklch(0.6977 0.1618 288.38);
  --color-global-purple-500: oklch(0.589 0.2241 286.64);
  --color-global-purple-600: oklch(0.5228 0.251 286.17);
  --color-global-purple-700: oklch(0.4714 0.2473 284.71);
  --color-global-purple-800: oklch(0.4149 0.2149 284.92);
  --color-global-purple-900: oklch(0.3647 0.1806 286.02);
  --color-global-purple-950: oklch(0.2695 0.1269 287.38);
  --color-global-yellow-50: oklch(0.9853 0.0251 99.52);
  --color-global-yellow-100: oklch(0.9689 0.0671 101.15);
  --color-global-yellow-200: oklch(0.9427 0.1109 99.31);
  --color-global-yellow-300: oklch(0.9132 0.135 96);
  --color-global-yellow-400: oklch(0.8469 0.1701 88.54);
  --color-global-yellow-500: oklch(0.778 0.1595 81.11);
  --color-global-yellow-600: oklch(0.6712 0.1425 72.57);
  --color-global-yellow-700: oklch(0.5427 0.1228 61.75);
  --color-global-yellow-800: oklch(0.4705 0.1047 59.08);
  --color-global-yellow-900: oklch(0.4134 0.0921 53.32);
  --color-global-yellow-950: oklch(0.3395 0.0727 54.43);
  --color-maf-warm-grey-50: oklch(0.9714 0.0025 48.72);
  --color-maf-warm-grey-100: oklch(0.931 0.0068 53.44);
  --color-maf-warm-grey-200: oklch(0.8519 0.0131 48.57);
  --color-maf-warm-grey-300: oklch(0.7716 0.0217 48.43);
  --color-maf-warm-grey-400: oklch(0.6889 0.029 47.08);
  --color-maf-warm-grey-500: oklch(0.6048 0.0389 47.14);
  --color-maf-warm-grey-600: oklch(0.5181 0.0332 48.06);
  --color-maf-warm-grey-700: oklch(0.4168 0.0267 46.6);
  --color-maf-warm-grey-800: oklch(0.3196 0.0183 45.84);
  --color-maf-warm-grey-900: oklch(0.2151 0.0113 48.18);
  --color-maf-warm-grey-950: oklch(0.1577 0.0056 39.33);
  --color-maf-dark-brown-50: oklch(0.9616 0.0017 67.8);
  --color-maf-dark-brown-100: oklch(0.932 0.0035 67.78);
  --color-maf-dark-brown-200: oklch(0.8548 0.0096 62.57);
  --color-maf-dark-brown-300: oklch(0.7857 0.0188 64.87);
  --color-maf-dark-brown-400: oklch(0.7045 0.0292 60.18);
  --color-maf-dark-brown-500: oklch(0.6334 0.0412 61.78);
  --color-maf-dark-brown-600: oklch(0.5567 0.0444 61.74);
  --color-maf-dark-brown-700: oklch(0.465 0.0374 62.07);
  --color-maf-dark-brown-800: oklch(0.3783 0.0319 59.01);
  --color-maf-dark-brown-900: oklch(0.2784 0.023 60.95);
  --color-maf-dark-brown-950: oklch(0.1959 0.0113 60.74);
  --color-maf-burgundy-50: oklch(0.9667 0.0153 7.48);
  --color-maf-burgundy-100: oklch(0.9264 0.0335 8.63);
  --color-maf-burgundy-200: oklch(0.8532 0.0714 7.76);
  --color-maf-burgundy-300: oklch(0.7899 0.1111 8.63);
  --color-maf-burgundy-400: oklch(0.7186 0.1605 9.5);
  --color-maf-burgundy-500: oklch(0.6479 0.2174 10.3);
  --color-maf-burgundy-600: oklch(0.5691 0.206 10.35);
  --color-maf-burgundy-700: oklch(0.4972 0.1799 10.28);
  --color-maf-burgundy-800: oklch(0.4157 0.1506 10.48);
  --color-maf-burgundy-900: oklch(0.281 0.1013 10.44);
  --color-maf-burgundy-950: oklch(0.2078 0.0755 11.04);
  --color-maf-gold-50: oklch(0.9613 0.0111 89.72);
  --color-maf-gold-100: oklch(0.9211 0.0218 83.26);
  --color-maf-gold-200: oklch(0.8433 0.0448 85.22);
  --color-maf-gold-300: oklch(0.7703 0.066 86.22);
  --color-maf-gold-400: oklch(0.6892 0.0868 84.76);
  --color-maf-gold-500: oklch(0.6093 0.0825 84.59);
  --color-maf-gold-600: oklch(0.5179 0.0685 83.98);
  --color-maf-gold-700: oklch(0.4208 0.0544 84.9);
  --color-maf-gold-800: oklch(0.3307 0.0397 84.77);
  --color-maf-gold-900: oklch(0.2212 0.0234 84.07);
  --color-maf-gold-950: oklch(0.1545 0.0136 93.24);
  --color-share-new-pink-50: oklch(0.9773 0.0068 325.63);
  --color-share-new-pink-100: oklch(0.9529 0.0204 325.74);
  --color-share-new-pink-200: oklch(0.8989 0.0534 326.01);
  --color-share-new-pink-300: oklch(0.8661 0.0849 326.28);
  --color-share-new-pink-400: oklch(0.7794 0.1729 327.08);
  --color-share-new-pink-500: oklch(0.7119 0.2353 327.7);
  --color-share-new-pink-600: oklch(0.6205 0.2286 327.9);
  --color-share-new-pink-700: oklch(0.5152 0.1891 327.9);
  --color-share-new-pink-800: oklch(0.4063 0.1488 327.89);
  --color-share-new-pink-900: oklch(0.3 0.1102 327.9);
  --color-share-new-pink-950: oklch(0.1895 0.0697 327.9);
  --color-share-new-gray-50: oklch(0.977 0.0059 239.82);
  --color-share-new-gray-100: oklch(0.9525 0.0076 241.67);
  --color-share-new-gray-200: oklch(0.897 0.0112 243.67);
  --color-share-new-gray-300: oklch(0.8402 0.0167 245.12);
  --color-share-new-gray-400: oklch(0.77 0.0196 243.04);
  --color-share-new-gray-500: oklch(0.6803 0.0183 242.55);
  --color-share-new-gray-600: oklch(0.5913 0.0151 241.12);
  --color-share-new-gray-700: oklch(0.4886 0.013 243.85);
  --color-share-new-gray-800: oklch(0.3873 0.0095 241.89);
  --color-share-new-gray-900: oklch(0.2863 0.0079 240.13);
  --color-share-new-gray-950: oklch(0.1809 0.0052 248.12);
  --color-share-new-orange-50: oklch(0.9643 0.0211 56.13);
  --color-share-new-orange-100: oklch(0.9407 0.0357 56.46);
  --color-share-new-orange-200: oklch(0.8769 0.0731 53.11);
  --color-share-new-orange-300: oklch(0.799 0.1227 49.43);
  --color-share-new-orange-400: oklch(0.7115 0.1792 41.51);
  --color-share-new-orange-500: oklch(0.6614 0.2141 36.64);
  --color-share-new-orange-600: oklch(0.611 0.2207 32.88);
  --color-share-new-orange-700: oklch(0.5271 0.1948 31.52);
  --color-share-new-orange-800: oklch(0.4479 0.1606 30.32);
  --color-share-new-orange-900: oklch(0.3888 0.1315 30.42);
  --color-share-new-orange-950: oklch(0.2539 0.0858 29.01);
  --color-share-new-green-50: oklch(0.9609 0.0203 145.42);
  --color-share-new-green-100: oklch(0.9493 0.0345 146.63);
  --color-share-new-green-200: oklch(0.8689 0.1131 145.22);
  --color-share-new-green-300: oklch(0.7996 0.1251 145.2);
  --color-share-new-green-400: oklch(0.751 0.1177 144.94);
  --color-share-new-green-500: oklch(0.669 0.104 145.45);
  --color-share-new-green-600: oklch(0.5688 0.089 145.22);
  --color-share-new-green-700: oklch(0.4835 0.0764 144.84);
  --color-share-new-green-800: oklch(0.3388 0.0538 145.14);
  --color-share-new-green-900: oklch(0.2554 0.0396 145.58);
  --color-share-new-green-950: oklch(0.1766 0.0275 144.3);
  --color-share-new-coral-50: oklch(0.9594 0.0274 188.31);
  --color-share-new-coral-100: oklch(0.9472 0.0407 187.03);
  --color-share-new-coral-200: oklch(0.8708 0.0796 186.86);
  --color-share-new-coral-300: oklch(0.8296 0.0829 187.96);
  --color-share-new-coral-400: oklch(0.7527 0.0828 188.61);
  --color-share-new-coral-500: oklch(0.6716 0.0811 188.12);
  --color-share-new-coral-600: oklch(0.5682 0.0741 188.15);
  --color-share-new-coral-700: oklch(0.4809 0.0672 189.69);
  --color-share-new-coral-800: oklch(0.3388 0.0511 189.13);
  --color-share-new-coral-900: oklch(0.2559 0.0388 186.69);
  --color-share-new-coral-950: oklch(0.1779 0.0276 186.43);
  --color-share-new-lime-50: oklch(0.9587 0.0864 114.95);
  --color-share-new-lime-100: oklch(0.9469 0.131 114.67);
  --color-share-new-lime-200: oklch(0.8719 0.1661 114.94);
  --color-share-new-lime-300: oklch(0.8339 0.1587 114.88);
  --color-share-new-lime-400: oklch(0.7557 0.1439 115.14);
  --color-share-new-lime-500: oklch(0.6763 0.1292 114.98);
  --color-share-new-lime-600: oklch(0.5715 0.1093 115.03);
  --color-share-new-lime-700: oklch(0.4858 0.0926 114.77);
  --color-share-new-lime-800: oklch(0.3844 0.0734 115.56);
  --color-share-new-lime-900: oklch(0.2806 0.0535 115.49);
  --color-share-new-lime-950: oklch(0.179 0.0348 114.7);
  --color-share-new-violet-50: oklch(0.9636 0.008 293.91);
  --color-share-new-violet-100: oklch(0.9543 0.0137 299.8);
  --color-share-new-violet-200: oklch(0.8995 0.0362 299.7);
  --color-share-new-violet-300: oklch(0.8463 0.0661 297.64);
  --color-share-new-violet-400: oklch(0.773 0.1148 298.03);
  --color-share-new-violet-500: oklch(0.6967 0.1665 298);
  --color-share-new-violet-600: oklch(0.6038 0.2376 297.14);
  --color-share-new-violet-700: oklch(0.5274 0.2762 296.8);
  --color-share-new-violet-800: oklch(0.4161 0.2175 296.96);
  --color-share-new-violet-900: oklch(0.3047 0.1597 296.77);
  --color-share-new-violet-950: oklch(0.1921 0.0888 296.95);
  --color-share-new-indigo-50: oklch(0.9639 0.0094 292.8);
  --color-share-new-indigo-100: oklch(0.9535 0.0135 295.32);
  --color-share-new-indigo-200: oklch(0.8988 0.0328 293.38);
  --color-share-new-indigo-300: oklch(0.8443 0.0556 292.04);
  --color-share-new-indigo-400: oklch(0.7779 0.088 291.61);
  --color-share-new-indigo-500: oklch(0.6914 0.136 291.21);
  --color-share-new-indigo-600: oklch(0.6089 0.1857 290.21);
  --color-share-new-indigo-700: oklch(0.5189 0.2453 288.18);
  --color-share-new-indigo-800: oklch(0.4156 0.2256 287.16);
  --color-share-new-indigo-900: oklch(0.3077 0.178 286.55);
  --color-share-new-indigo-950: oklch(0.1956 0.1135 286.07);
  --color-that-yellow-50: oklch(0.9783 0.0322 93.51);
  --color-that-yellow-100: oklch(0.9607 0.0573 93.2);
  --color-that-yellow-200: oklch(0.9201 0.1131 92.51);
  --color-that-yellow-300: oklch(0.8881 0.1524 91.5);
  --color-that-yellow-400: oklch(0.8579 0.1716 87.95);
  --color-that-yellow-500: oklch(0.7962 0.163 85.82);
  --color-that-yellow-600: oklch(0.6775 0.1387 86.24);
  --color-that-yellow-700: oklch(0.539 0.1103 86.85);
  --color-that-yellow-800: oklch(0.4064 0.0831 88.09);
  --color-that-yellow-900: oklch(0.2616 0.0535 91.17);
  --color-that-yellow-950: oklch(0.1901 0.0389 92.2);
  --color-mallof-red-50: oklch(0.9648 0.0173 17.46);
  --color-cc-blue-50: oklch(0.9624 0.0287 215.7);
  --color-cc-blue-100: oklch(0.9346 0.0517 214.65);
  --color-cc-blue-200: oklch(0.8685 0.114 210.86);
  --color-cc-blue-300: oklch(0.7983 0.1341 209.59);
  --color-cc-blue-400: oklch(0.7385 0.1241 209.74);
  --color-cc-blue-500: oklch(0.6357 0.1068 209.55);
  --color-cc-blue-600: oklch(0.5347 0.0896 209.07);
  --color-cc-blue-700: oklch(0.442 0.0742 208.99);
  --color-cc-blue-800: oklch(0.3407 0.0573 209.06);
  --color-cc-blue-900: oklch(0.2387 0.0401 208.7);
  --color-cc-blue-950: oklch(0.1842 0.0302 210.64);
  --color-cc-orange-50: oklch(0.9678 0.0143 28.01);
  --color-cc-orange-100: oklch(0.9253 0.0347 24.38);
  --color-cc-orange-200: oklch(0.8621 0.0689 26.32);
  --color-cc-orange-300: oklch(0.7885 0.1146 27.79);
  --color-cc-orange-400: oklch(0.7172 0.1663 31.58);
  --color-cc-orange-500: oklch(0.6496 0.2021 36.15);
  --color-cc-orange-600: oklch(0.545 0.1698 36.18);
  --color-cc-orange-700: oklch(0.4465 0.139 36.02);
  --color-cc-orange-800: oklch(0.3473 0.1077 36.03);
  --color-cc-orange-900: oklch(0.2423 0.0753 36.04);
  --color-cc-orange-950: oklch(0.193 0.0612 36.63);
  --color-cc-yolk-50: oklch(0.9583 0.0211 56.13);
  --color-cc-yolk-100: oklch(0.9245 0.0409 57.74);
  --color-cc-yolk-200: oklch(0.8406 0.0998 63.82);
  --color-cc-yolk-300: oklch(0.766 0.1408 69.38);
  --color-cc-yolk-400: oklch(0.678 0.1249 69.01);
  --color-cc-yolk-500: oklch(0.5825 0.1077 68.97);
  --color-cc-yolk-600: oklch(0.4965 0.0912 70.04);
  --color-cc-yolk-700: oklch(0.4092 0.0748 69.49);
  --color-cc-yolk-800: oklch(0.322 0.0598 68.71);
  --color-cc-yolk-900: oklch(0.2253 0.0417 70.42);
  --color-cc-yolk-950: oklch(0.1769 0.0327 69.66);
  --color-cc-pink-50: oklch(0.9687 0.021 328.08);
  --color-cc-pink-100: oklch(0.936 0.0441 328.24);
  --color-cc-pink-200: oklch(0.8801 0.086 327.54);
  --color-cc-pink-300: oklch(0.8189 0.1357 328.88);
  --color-cc-pink-400: oklch(0.7629 0.1847 328.88);
  --color-cc-pink-500: oklch(0.6705 0.2497 329.56);
  --color-cc-pink-600: oklch(0.5709 0.2121 329.59);
  --color-cc-pink-700: oklch(0.4621 0.172 329.23);
  --color-cc-pink-800: oklch(0.353 0.1307 329.75);
  --color-cc-pink-900: oklch(0.2531 0.0943 328.85);
  --color-cc-pink-950: oklch(0.1967 0.0737 329.2);
  --color-cc-violet-50: oklch(0.9672 0.0175 296.64);
  --color-cc-violet-100: oklch(0.9336 0.0353 294.53);
  --color-cc-violet-200: oklch(0.8589 0.078 295.35);
  --color-cc-violet-300: oklch(0.7928 0.1176 295.21);
  --color-cc-violet-400: oklch(0.7221 0.1616 294.65);
  --color-cc-violet-500: oklch(0.6575 0.2039 294.29);
  --color-cc-violet-600: oklch(0.5891 0.25 293.66);
  --color-cc-violet-700: oklch(0.5272 0.293 292.95);
  --color-cc-violet-800: oklch(0.4012 0.2228 293.1);
  --color-cc-violet-900: oklch(0.28 0.1557 292.93);
  --color-cc-violet-950: oklch(0.2138 0.1188 293.01);
  --color-cc-moss-50: oklch(0.9466 0.0894 149.95);
  --color-cc-moss-100: oklch(0.8918 0.2022 148.95);
  --color-cc-moss-200: oklch(0.8124 0.2319 148.54);
  --color-cc-moss-300: oklch(0.7295 0.208 148.58);
  --color-cc-moss-400: oklch(0.6468 0.1846 148.55);
  --color-cc-moss-500: oklch(0.5614 0.1604 148.5);
  --color-cc-moss-600: oklch(0.4758 0.1357 148.58);
  --color-cc-moss-700: oklch(0.3924 0.1115 148.73);
  --color-cc-moss-800: oklch(0.3008 0.0854 148.73);
  --color-cc-moss-900: oklch(0.2163 0.0614 148.75);
  --color-cc-moss-950: oklch(0.1709 0.0484 148.85);
  --color-cc-brown-50: oklch(0.9741 0.0074 80.72);
  --color-cc-brown-100: oklch(0.9417 0.016 82.79);
  --color-cc-brown-200: oklch(0.8799 0.0324 82.76);
  --color-cc-brown-300: oklch(0.8222 0.0458 79.24);
  --color-cc-brown-400: oklch(0.7563 0.0609 75.1);
  --color-cc-brown-500: oklch(0.6859 0.0768 69.98);
  --color-cc-brown-600: oklch(0.6086 0.0823 67.11);
  --color-cc-brown-700: oklch(0.5272 0.0709 63.74);
  --color-cc-brown-800: oklch(0.4344 0.0578 58.48);
  --color-cc-brown-900: oklch(0.3396 0.0425 55.58);
  --color-cc-brown-950: oklch(0.2937 0.0366 51.79);
  --color-cc-cream-20: oklch(0.9908 0.0129 92.36);
  --color-cc-cream-50: oklch(0.9685 0.0321 95.39);
  --color-cc-cream-100: oklch(0.9206 0.0981 97.88);
  --color-cc-cream-200: oklch(0.8348 0.0956 98.15);
  --color-cc-cream-300: oklch(0.7471 0.0851 98.13);
  --color-cc-cream-400: oklch(0.6629 0.0765 98.47);
  --color-cc-cream-500: oklch(0.5761 0.0665 98.72);
  --color-cc-cream-600: oklch(0.4905 0.0562 97.76);
  --color-cc-cream-700: oklch(0.3961 0.0452 97.94);
  --color-cc-cream-800: oklch(0.3111 0.0362 99.21);
  --color-cc-cream-900: oklch(0.2241 0.0266 101.67);
  --color-cc-cream-950: oklch(0.1766 0.0197 98.59);
  --color-mallof-red-100: oklch(0.9236 0.039 17.88);
  --color-mallof-red-200: oklch(0.8208 0.0726 18.75);
  --color-mallof-red-300: oklch(0.7687 0.0926 19.4);
  --color-mallof-red-400: oklch(0.7178 0.1132 20.24);
  --color-mallof-red-500: oklch(0.6196 0.1548 22.69);
  --color-mallof-red-600: oklch(0.5412 0.1886 26.24);
  --color-mallof-red-700: oklch(0.4875 0.2 29.23);
  --color-mallof-red-800: oklch(0.4144 0.1701 29.23);
  --color-mallof-red-900: oklch(0.3358 0.1378 29.23);
  --color-mallof-red-950: oklch(0.2546 0.1045 29.23);
  --color-mallof-black-50: oklch(0.9401 0 89.88);
  --color-mallof-black-100: oklch(0.8884 0 89.88);
  --color-mallof-black-200: oklch(0.7763 0 89.88);
  --color-mallof-black-300: oklch(0.6633 0 89.88);
  --color-mallof-black-400: oklch(0.5521 0 89.88);
  --color-mallof-black-500: oklch(0.4313 0 89.88);
  --color-mallof-black-600: oklch(0.3171 0 89.88);
  --color-mallof-black-700: oklch(0.209 0 89.88);
  --color-mallof-black-800: oklch(0.1776 0 89.88);
  --color-mallof-black-900: oklch(0.1496 0 89.88);
  --color-mallof-black-950: oklch(0.1067 0 89.88);
  --color-mallof-green-50: oklch(0.9483 0.0663 168.64);
  --color-mallof-green-100: oklch(0.8964 0.1476 169.01);
  --color-mallof-green-200: oklch(0.809 0.1388 168.95);
  --color-mallof-green-300: oklch(0.7166 0.1233 168.88);
  --color-mallof-green-400: oklch(0.6332 0.1085 169.23);
  --color-mallof-green-500: oklch(0.5467 0.0939 168.94);
  --color-mallof-green-600: oklch(0.4631 0.0794 168.83);
  --color-mallof-green-700: oklch(0.3788 0.0649 168.97);
  --color-mallof-green-800: oklch(0.3034 0.0524 168.92);
  --color-mallof-green-900: oklch(0.2195 0.0378 167.86);
  --color-mallof-green-950: oklch(0.1723 0.0297 170.55);
  --color-mallof-orange-50: oklch(0.967 0.0133 28.87);
  --color-mallof-orange-100: oklch(0.9342 0.027 28.95);
  --color-mallof-orange-200: oklch(0.86 0.0633 28.13);
  --color-mallof-orange-300: oklch(0.7946 0.099 30.2);
  --color-mallof-orange-400: oklch(0.7306 0.1413 33.78);
  --color-mallof-orange-500: oklch(0.6599 0.1748 37.73);
  --color-mallof-orange-600: oklch(0.5594 0.1479 37.7);
  --color-mallof-orange-700: oklch(0.4509 0.1199 37.62);
  --color-mallof-orange-800: oklch(0.3459 0.0923 37.12);
  --color-mallof-orange-900: oklch(0.2488 0.0669 37.39);
  --color-mallof-orange-950: oklch(0.1926 0.0519 38.05);
  --color-mallof-error-50: oklch(0.959 0.0174 13.1);
  --color-mallof-error-100: oklch(0.9268 0.031 15.26);
  --color-mallof-error-200: oklch(0.845 0.0708 16.48);
  --color-mallof-error-300: oklch(0.7724 0.1121 17.9);
  --color-mallof-error-400: oklch(0.6924 0.1677 19.88);
  --color-mallof-error-500: oklch(0.6183 0.2202 22.96);
  --color-mallof-error-600: oklch(0.5238 0.1866 23.03);
  --color-mallof-error-700: oklch(0.4335 0.1544 22.81);
  --color-mallof-error-800: oklch(0.3339 0.1184 22.79);
  --color-mallof-error-900: oklch(0.2424 0.0869 22.33);
  --color-mallof-error-950: oklch(0.1866 0.0661 22.67);
  --color-share-burgundy-50: oklch(0.9596 0.018 351.15);
  --color-share-burgundy-100: oklch(0.9011 0.044 352.61);
  --color-share-burgundy-200: oklch(0.8518 0.07 353.26);
  --color-share-burgundy-300: oklch(0.8045 0.1039 355.38);
  --color-share-burgundy-400: oklch(0.6741 0.1661 358.54);
  --color-share-burgundy-500: oklch(0.5805 0.2166 5.46);
  --color-share-burgundy-600: oklch(0.4917 0.182 4.96);
  --color-share-burgundy-700: oklch(0.4282 0.1623 6.31);
  --color-share-burgundy-800: oklch(0.3243 0.1198 4.67);
  --color-share-burgundy-900: oklch(0.2042 0.069 1.12);
  --color-share-burgundy-950: oklch(0.1414 0.0463 355.8);
  --color-share-gray-50: oklch(0.9612 0 89.88);
  --color-share-gold-50: oklch(0.9693 0.0136 78.26);
  --color-share-gold-100: oklch(0.9107 0.0199 87.52);
  --color-share-gold-200: oklch(0.8171 0.0408 80.85);
  --color-share-gold-300: oklch(0.7667 0.0519 83.88);
  --color-share-gold-400: oklch(0.7245 0.0614 82.8);
  --color-share-gold-500: oklch(0.6676 0.0737 83.99);
  --color-share-gold-600: oklch(0.6303 0.0818 83.55);
  --color-share-gold-700: oklch(0.5329 0.0678 82.6);
  --color-share-gold-800: oklch(0.3808 0.064 78.41);
  --color-share-gold-900: oklch(0.2528 0.0373 78.52);
  --color-share-gold-950: oklch(0.1714 0.022 85.72);
  --color-share-green-50: oklch(0.9578 0.0174 164.66);
  --color-share-red-50: oklch(0.9473 0.0141 17.41);
  --color-share-red-100: oklch(0.9153 0.0322 17.76);
  --color-share-red-200: oklch(0.8852 0.0487 18.11);
  --color-share-red-300: oklch(0.7739 0.1047 19.73);
  --color-share-red-400: oklch(0.7076 0.1398 21.22);
  --color-share-red-500: oklch(0.6752 0.1607 22.34);
  --color-share-red-600: oklch(0.64 0.1806 23.73);
  --color-share-red-700: oklch(0.6007 0.2083 26.16);
  --color-share-red-800: oklch(0.5059 0.1738 26.02);
  --color-share-red-900: oklch(0.3993 0.1299 25.29);
  --color-share-red-950: oklch(0.3239 0.098 24.43);
  --color-share-green-100: oklch(0.9282 0.0299 164.27);
  --color-share-green-200: oklch(0.8753 0.0557 162.23);
  --color-share-green-300: oklch(0.7928 0.0915 160.64);
  --color-share-green-400: oklch(0.7617 0.109 159.48);
  --color-share-green-500: oklch(0.7143 0.1235 158.08);
  --color-share-green-600: oklch(0.6576 0.1471 154.89);
  --color-share-green-700: oklch(0.6105 0.1585 151.82);
  --color-share-green-800: oklch(0.4995 0.1189 153.84);
  --color-share-green-900: oklch(0.3558 0.0811 154.53);
  --color-share-green-950: oklch(0.2727 0.056 155.77);
  --color-share-amber-50: oklch(0.9649 0.026 71.2);
  --color-share-amber-100: oklch(0.9314 0.0443 70.52);
  --color-share-amber-200: oklch(0.9054 0.0679 71.11);
  --color-share-amber-300: oklch(0.8655 0.0893 70.02);
  --color-share-amber-400: oklch(0.837 0.1066 69.11);
  --color-share-amber-500: oklch(0.8038 0.1295 67.64);
  --color-share-amber-600: oklch(0.7478 0.1603 62.71);
  --color-share-amber-700: oklch(0.6897 0.149 62.28);
  --color-share-amber-800: oklch(0.5744 0.1255 62.18);
  --color-share-amber-900: oklch(0.4526 0.1025 60.62);
  --color-share-amber-950: oklch(0.3816 0.0869 61.38);
  --color-share-gray-100: oklch(0.931 0 89.88);
  --color-share-gray-200: oklch(0.8607 0 89.88);
  --color-share-gray-300: oklch(0.7984 0 89.88);
  --color-share-gray-400: oklch(0.6698 0 89.88);
  --color-share-gray-500: oklch(0.5624 0 89.88);
  --color-share-gray-600: oklch(0.5348 0 89.88);
  --color-share-gray-700: oklch(0.464 0 89.88);
  --color-share-gray-800: oklch(0.3904 0 89.88);
  --color-share-gray-900: oklch(0.3132 0 89.88);
  --color-share-gray-950: oklch(0.2264 0 89.88);
  --color-share-gray-1000: oklch(0.1591 0 89.88);

  /* ── FONT ──────────────────────────────────────────────── */
  --font-family-marselis-pro: "Marselis Pro";
  --font-family-inter: "Inter";
  --font-family-klarheit-kurrent: "ES Klarheit Kurrent";
  --font-family-aktiv-grotesk: "Aktiv Grotesk";
  --font-family-forced-square: "FORCED SQUARE";
  --font-family-geist-mono: "Geist Mono";
  --font-family-larken: "Larken";
  --font-family-futura: "Futura";
  --font-family-montserrat: "Montserrat";
  --font-family-parkinsans: "Parkinsans";
  --font-family-tajawal: "Tajawal";
  --font-family-vazirmatn: "Vazirmatn";
  --font-size-10: 0.625rem;
  --font-size-12: 0.75rem;
  --font-size-14: 0.875rem;
  --font-size-16: 1rem;
  --font-size-18: 1.125rem;
  --font-size-20: 1.25rem;
  --font-size-24: 1.5rem;
  --font-size-28: 1.75rem;
  --font-size-30: 1.875rem;
  --font-size-32: 2rem;
  --font-size-36: 2.25rem;
  --font-size-40: 2.5rem;
  --font-size-48: 3rem;
  --font-size-60: 3.75rem;
  --font-size-72: 4.5rem;
  --font-size-96: 6rem;
  --font-size-128: 8rem;
  --font-size-256: 16rem;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-line-height-10: 0.625rem;
  --font-weight-700: 700;
  --font-line-height-14: 0.875rem;
  --font-line-height-16: 1rem;
  --font-line-height-18: 1.125rem;
  --font-line-height-20: 1.25rem;
  --font-line-height-24: 1.5rem;
  --font-line-height-28: 1.75rem;
  --font-line-height-32: 2rem;
  --font-line-height-36: 2.25rem;
  --font-line-height-40: 2.5rem;
  --font-line-height-48: 3rem;
  --font-line-height-60: 3.75rem;
  --font-line-height-72: 4.5rem;
  --font-line-height-96: 6rem;
  --font-line-height-128: 8rem;
  --font-line-height-256: 16rem;
  --font-spacing--4: -0.25rem;
  --font-spacing--3: -0.1875rem;
  --font-spacing--2: -0.125rem;
  --font-spacing--1-5: -0.0938rem;
  --font-spacing--1: -0.0625rem;
  --font-spacing--0-5: -0.0313rem;
  --font-spacing-0: 0;
  --font-spacing-0-5: 0.0313rem;
  --font-spacing-1: 0.0625rem;
  --font-spacing-1-5: 0.0938rem;
  --font-spacing-2: 0.125rem;
  --font-spacing-3: 0.1875rem;
  --font-spacing-4: 0.25rem;
  --font-family-din-next-lt-arabic: "DIN Next LT Arabic";
  --font-family-el-messiri: "El Messiri";
  --font-family-euclid-circular-a: "Euclid Circular A";
  --font-family-almarai: "Almarai";

  /* ── SPACING ───────────────────────────────────────────── */
  --spacing-0: 0;
  --spacing-1: 0.0625rem;
  --spacing-2: 0.125rem;
  --spacing-4: 0.25rem;
  --spacing-6: 0.375rem;
  --spacing-8: 0.5rem;
  --spacing-10: 0.625rem;
  --spacing-12: 0.75rem;
  --spacing-14: 0.875rem;
  --spacing-16: 1rem;
  --spacing-18: 1.125rem;
  --spacing-20: 1.25rem;
  --spacing-24: 1.5rem;
  --spacing-28: 1.75rem;
  --spacing-32: 2rem;
  --spacing-36: 2.25rem;
  --spacing-40: 2.5rem;
  --spacing-44: 2.75rem;
  --spacing-48: 3rem;
  --spacing-56: 3.5rem;
  --spacing-64: 4rem;
  --spacing-80: 5rem;
  --spacing-96: 6rem;
  --spacing-112: 7rem;
  --spacing-128: 8rem;
  --spacing-144: 9rem;
  --spacing-160: 10rem;
  --spacing-176: 11rem;
  --spacing-192: 12rem;
  --spacing-208: 13rem;
  --spacing-224: 14rem;
  --spacing-240: 15rem;
  --spacing-256: 16rem;
  --spacing-288: 18rem;
  --spacing-320: 20rem;
  --spacing-384: 24rem;
  --spacing-448: 28rem;
  --spacing-512: 32rem;
  --spacing-576: 36rem;
  --spacing-640: 40rem;
  --spacing-704: 44rem;
  --spacing-768: 48rem;
  --spacing-832: 52rem;
  --spacing-896: 56rem;
  --spacing-960: 60rem;
  --spacing-1024: 64rem;
  --spacing-1152: 72rem;
  --spacing-1280: 80rem;
  --spacing-24: 1.5rem;

  /* ── BORDER ────────────────────────────────────────────── */
  --border-0: 0;
  --border-1: 0.0625rem;
  --border-1-5: 0.0938rem;
  --border-2: 0.125rem;
  --border-2-5: 0.1563rem;
  --border-3: 0.1875rem;
  --border-3-5: 0.2188rem;
  --border-4: 0.25rem;
  --border-4-5: 0.2813rem;
  --border-5: 0.3125rem;

  /* ── ROUNDED ───────────────────────────────────────────── */
  --rounded-0: 0;
  --rounded-1: 0.0625rem;
  --rounded-2: 0.125rem;
  --rounded-4: 0.25rem;
  --rounded-6: 0.375rem;
  --rounded-8: 0.5rem;
  --rounded-10: 0.625rem;
  --rounded-12: 0.75rem;
  --rounded-14: 0.875rem;
  --rounded-16: 1rem;
  --rounded-18: 1.125rem;
  --rounded-20: 1.25rem;
  --rounded-24: 1.5rem;
  --rounded-28: 1.75rem;
  --rounded-32: 2rem;
  --rounded-36: 2.25rem;
  --rounded-40: 2.5rem;
  --rounded-44: 2.75rem;
  --rounded-48: 3rem;
  --rounded-56: 3.5rem;
  --rounded-64: 4rem;
  --rounded-80: 5rem;
  --rounded-96: 6rem;
  --rounded-112: 7rem;
  --rounded-128: 8rem;
  --rounded-1000: 62.5rem;

  /* ── EFFECTS ───────────────────────────────────────────── */
  --effects-blur-0: 0;
  --effects-blur-1: 0.0625rem;
  --effects-blur-2: 0.125rem;
  --effects-blur-4: 0.25rem;
  --effects-blur-6: 0.375rem;
  --effects-blur-8: 0.5rem;
  --effects-blur-10: 0.625rem;
  --effects-blur-12: 0.75rem;
  --effects-blur-16: 1rem;
  --effects-blur-18: 1.125rem;
  --effects-blur-20: 1.25rem;
  --effects-blur-24: 1.5rem;
  --effects-blur-28: 1.75rem;
  --effects-blur-32: 2rem;
  --effects-blur-48: 3rem;
  --effects-blur-52: 3.25rem;
  --effects-blur-56: 3.5rem;
  --effects-blur-60: 3.75rem;
  --effects-blur-64: 4rem;
  --effects-blur-96: 6rem;
  --effects-depth-5: 5;
  --effects-depth-10: 10;
  --effects-depth-20: 20;
  --effects-depth-30: 30;
  --effects-depth-40: 40;
  --effects-depth-50: 50;
  --effects-depth-60: 60;
  --effects-depth-70: 70;
  --effects-depth-80: 80;
  --effects-depth-90: 90;
  --effects-depth-100: 100;
  --effects-dispertion-10: 10;
  --effects-dispertion-20: 20;
  --effects-dispertion-30: 30;
  --effects-dispertion-40: 40;
  --effects-dispertion-50: 50;
  --effects-dispertion-60: 60;
  --effects-dispertion-70: 70;
  --effects-dispertion-80: 80;
  --effects-dispertion-90: 90;
  --effects-dispertion-100: 100;
  --effects-frost-1: 1;
  --effects-light-angle--135: -135;
  --effects-light-angle--45: -45;
  --effects-light-angle-0: 0;
  --effects-light-angle-45: 45;
  --effects-light-angle-135: 135;
  --effects-light-angle-180: 180;
  --effects-frost-2: 2;
  --effects-frost-3: 3;
  --effects-frost-4: 4;
  --effects-frost-5: 5;
  --effects-frost-6: 6;
  --effects-frost-7: 7;
  --effects-frost-8: 8;
  --effects-frost-9: 9;
  --effects-frost-10: 10;
  --effects-refraction: 80;
  --effects-light-intensity-10: 10;
  --effects-light-intensity-20: 20;
  --effects-light-intensity-30: 30;
  --effects-light-intensity-40: 40;
  --effects-light-intensity-50: 50;
  --effects-light-intensity-60: 60;
  --effects-light-intensity-70: 70;
  --effects-light-intensity-80: 80;
  --effects-light-intensity-90: 90;
  --effects-light-intensity-100: 100;
  --effects-position-0: 0;
  --effects-position-1: 0.0625rem;
  --effects-position-2: 0.125rem;
  --effects-position-4: 0.25rem;
  --effects-position-6: 0.375rem;
  --effects-position-8: 0.5rem;
  --effects-position-10: 0.625rem;
  --effects-position-12: 0.75rem;
  --effects-position-16: 1rem;
  --effects-position-18: 1.125rem;
  --effects-position-20: 1.25rem;
  --effects-position-24: 1.5rem;
  --effects-position-32: 2rem;
  --effects-position-48: 3rem;
  --effects-position-64: 4rem;
  --effects-position-96: 6rem;
  --effects-refraction-10: 10;
  --effects-refraction-20: 20;
  --effects-refraction-30: 30;
  --effects-refraction-40: 40;
  --effects-refraction-50: 50;
  --effects-refraction-60: 60;
  --effects-refraction-70: 70;
  --effects-refraction-80: 80;
  --effects-refraction-90: 90;
  --effects-refraction-100: 100;
  --effects-spread--10: -0.625rem;
  --effects-spread--9: -0.5625rem;
  --effects-spread--8: -0.5rem;
  --effects-spread--7: -0.4375rem;
  --effects-spread--6: -0.375rem;
  --effects-spread--5: -0.3125rem;
  --effects-spread--4: -0.25rem;
  --effects-spread--3: -0.1875rem;
  --effects-spread--2: -0.125rem;
  --effects-spread--1: -0.0625rem;
  --effects-spread-0: 0;
  --effects-spread-1: 0.0625rem;
  --effects-spread-2: 0.125rem;
  --effects-spread-3: 0.1875rem;
  --effects-spread-4: 0.25rem;
  --effects-spread-5: 0.3125rem;
  --effects-spread-6: 0.375rem;
  --effects-spread-7: 0.4375rem;
  --effects-spread-8: 0.5rem;
  --effects-spread-9: 0.5625rem;
  --effects-spread-10: 0.625rem;
  --radius-16: 16;
}
