/* Primitives — Value */
:root {

  /* ── COLOR ─────────────────────────────────────────────── */
  --color-black: #000000;
  --color-white: #ffffff;
  --color-transparent: transparent;
  --color-global-gray-50: #f7f7f7;
  --color-global-gray-100: #f5f5f5;
  --color-global-gray-200: #e5e5e5;
  --color-global-gray-300: #d6d6d6;
  --color-global-gray-400: #a3a3a3;
  --color-global-gray-500: #737373;
  --color-global-gray-600: #525252;
  --color-global-gray-700: #424242;
  --color-global-gray-800: #292929;
  --color-global-gray-900: #141414;
  --color-global-gray-950: #0f0f0f;
  --color-global-red-50: #fef3f2;
  --color-global-red-100: #fee4e2;
  --color-global-red-200: #fecdca;
  --color-global-red-300: #fda29b;
  --color-global-red-400: #f97066;
  --color-global-red-500: #f04438;
  --color-global-red-600: #d92d20;
  --color-global-red-700: #b42318;
  --color-global-red-800: #912018;
  --color-global-red-900: #7a271a;
  --color-global-red-950: #55160c;
  --color-global-teal-50: #f0fdf9;
  --color-global-teal-100: #ccfbef;
  --color-global-teal-200: #99f6e0;
  --color-global-teal-300: #5fe9d0;
  --color-global-teal-400: #2ed3b7;
  --color-global-teal-500: #15b79e;
  --color-global-teal-600: #0e9384;
  --color-global-teal-700: #107569;
  --color-global-teal-800: #125d56;
  --color-global-teal-900: #134e48;
  --color-global-teal-950: #0a2926;
  --color-global-white-a5: rgba(255, 255, 255, 0.05);
  --color-global-white-a10: rgba(255, 255, 255, 0.1);
  --color-global-white-a20: rgba(255, 255, 255, 0.2);
  --color-global-white-a30: rgba(255, 255, 255, 0.3);
  --color-global-white-a40: rgba(255, 255, 255, 0.4);
  --color-global-white-a50: rgba(255, 255, 255, 0.5);
  --color-global-white-a60: rgba(255, 255, 255, 0.6);
  --color-global-white-a70: rgba(255, 255, 255, 0.7);
  --color-global-white-a80: rgba(255, 255, 255, 0.8);
  --color-global-white-a90: rgba(255, 255, 255, 0.9);
  --color-global-white-a95: rgba(255, 255, 255, 0.95);
  --color-global-black-a5: rgba(0, 0, 0, 0.05);
  --color-global-black-a10: rgba(0, 0, 0, 0.1);
  --color-global-black-a20: rgba(0, 0, 0, 0.2);
  --color-global-black-a30: rgba(0, 0, 0, 0.3);
  --color-global-black-a40: rgba(0, 0, 0, 0.4);
  --color-global-black-a50: rgba(0, 0, 0, 0.5);
  --color-global-black-a60: rgba(0, 0, 0, 0.6);
  --color-global-black-a70: rgba(0, 0, 0, 0.7);
  --color-global-black-a80: rgba(0, 0, 0, 0.8);
  --color-global-black-a90: rgba(0, 0, 0, 0.9);
  --color-global-black-a95: rgba(0, 0, 0, 0.95);
  --color-global-orange-50: #fffaeb;
  --color-global-orange-100: #fef0c7;
  --color-global-orange-200: #fedf89;
  --color-global-orange-300: #fec84b;
  --color-global-orange-400: #fdb022;
  --color-global-orange-500: #f79009;
  --color-global-orange-600: #dc6803;
  --color-global-orange-700: #b54708;
  --color-global-orange-800: #93370d;
  --color-global-orange-900: #7a2e0e;
  --color-global-orange-950: #4e1d09;
  --color-global-green-50: #ecfdf3;
  --color-global-green-100: #dcfae6;
  --color-global-green-200: #abefc6;
  --color-global-green-300: #75e0a7;
  --color-global-green-400: #47cd89;
  --color-global-green-500: #17b26a;
  --color-global-green-600: #079455;
  --color-global-green-700: #067647;
  --color-global-green-800: #085d3a;
  --color-global-green-900: #074d31;
  --color-global-green-950: #053321;
  --color-global-blue-50: #eff4ff;
  --color-global-blue-100: #d1e0ff;
  --color-global-blue-200: #b2ccff;
  --color-global-blue-300: #84adff;
  --color-global-blue-400: #528bff;
  --color-global-blue-500: #2970ff;
  --color-global-blue-600: #155eef;
  --color-global-blue-700: #004eeb;
  --color-global-blue-800: #0040c1;
  --color-global-blue-900: #00359e;
  --color-global-blue-950: #002266;
  --color-global-purple-50: #f4f3ff;
  --color-global-purple-100: #ebe9fe;
  --color-global-purple-200: #d9d6fe;
  --color-global-purple-300: #bdb4fe;
  --color-global-purple-400: #9b8afb;
  --color-global-purple-500: #7a5af8;
  --color-global-purple-600: #6938ef;
  --color-global-purple-700: #5925dc;
  --color-global-purple-800: #4a1fb8;
  --color-global-purple-900: #3e1c96;
  --color-global-purple-950: #27115f;
  --color-global-yellow-50: #fefbe8;
  --color-global-yellow-100: #fef7c3;
  --color-global-yellow-200: #feee95;
  --color-global-yellow-300: #fde272;
  --color-global-yellow-400: #fac515;
  --color-global-yellow-500: #eaaa08;
  --color-global-yellow-600: #ca8504;
  --color-global-yellow-700: #a15c07;
  --color-global-yellow-800: #854a0e;
  --color-global-yellow-900: #713b12;
  --color-global-yellow-950: #542c0d;
  --color-maf-warm-grey-50: #f7f5f4;
  --color-maf-warm-grey-100: #ece7e4;
  --color-maf-warm-grey-200: #d6ccc7;
  --color-maf-warm-grey-300: #c1b1a9;
  --color-maf-warm-grey-400: #ab968c;
  --color-maf-warm-grey-500: #967b6e;
  --color-maf-warm-grey-600: #796358;
  --color-maf-warm-grey-700: #594840;
  --color-maf-warm-grey-800: #3b302b;
  --color-maf-warm-grey-900: #1e1815;
  --color-maf-warm-grey-950: #0f0c0b;
  --color-maf-dark-brown-50: #f3f2f1;
  --color-maf-dark-brown-100: #eae8e6;
  --color-maf-dark-brown-200: #d4cec9;
  --color-maf-dark-brown-300: #c2b7ad;
  --color-maf-dark-brown-400: #ae9c8e;
  --color-maf-dark-brown-500: #9d8571;
  --color-maf-dark-brown-600: #876e59;
  --color-maf-dark-brown-700: #695544;
  --color-maf-dark-brown-800: #4f3e31;
  --color-maf-dark-brown-900: #31261d;
  --color-maf-dark-brown-950: #191410;
  --color-maf-burgundy-50: #fef0f2;
  --color-maf-burgundy-100: #fcdee2;
  --color-maf-burgundy-200: #f9bcc6;
  --color-maf-burgundy-300: #f89cac;
  --color-maf-burgundy-400: #f6748e;
  --color-maf-burgundy-500: #f43e6f;
  --color-maf-burgundy-600: #d3265a;
  --color-maf-burgundy-700: #b01e4a;
  --color-maf-burgundy-800: #8a1538;
  --color-maf-burgundy-900: #4f081d;
  --color-maf-burgundy-950: #32030f;
  --color-maf-gold-50: #f5f2ea;
  --color-maf-gold-100: #ece4d5;
  --color-maf-gold-200: #d9caab;
  --color-maf-gold-300: #c7b284;
  --color-maf-gold-400: #b4975a;
  --color-maf-gold-500: #9a7f46;
  --color-maf-gold-600: #7b6538;
  --color-maf-gold-700: #5b4b29;
  --color-maf-gold-800: #3f341d;
  --color-maf-gold-900: #201a0e;
  --color-maf-gold-950: #0e0c06;
  --color-share-new-pink-50: #faf6fa;
  --color-share-new-pink-100: #f7ebf7;
  --color-share-new-pink-200: #f1d2f1;
  --color-share-new-pink-300: #f1c0f1;
  --color-share-new-pink-400: #f08cf0;
  --color-share-new-pink-500: #eb5eeb;
  --color-share-new-pink-600: #ca41ca;
  --color-share-new-pink-700: #9d319d;
  --color-share-new-pink-800: #712171;
  --color-share-new-pink-900: #491249;
  --color-share-new-pink-950: #230523;
  --color-share-new-gray-50: #f4f8fb;
  --color-share-new-gray-100: #ebf0f4;
  --color-share-new-gray-200: #d7dee4;
  --color-share-new-gray-300: #c2ccd5;
  --color-share-new-gray-400: #aab6c0;
  --color-share-new-gray-500: #8f9aa3;
  --color-share-new-gray-600: #767f86;
  --color-share-new-gray-700: #5a6167;
  --color-share-new-gray-800: #404549;
  --color-share-new-gray-900: #272b2e;
  --color-share-new-gray-950: #101214;
  --color-share-new-orange-50: #fff0e6;
  --color-share-new-orange-100: #ffe6d5;
  --color-share-new-orange-200: #fecaaa;
  --color-share-new-orange-300: #fda574;
  --color-share-new-orange-400: #fb743c;
  --color-share-new-orange-500: #f95016;
  --color-share-new-orange-600: #ea350c;
  --color-share-new-orange-700: #c2250c;
  --color-share-new-orange-800: #9a1f12;
  --color-share-new-orange-900: #7c1d12;
  --color-share-new-orange-950: #430b07;
  --color-share-new-green-50: #eaf6ea;
  --color-share-new-green-100: #e0f5e1;
  --color-share-new-green-200: #a4e8a6;
  --color-share-new-green-300: #88d38b;
  --color-share-new-green-400: #7dc27f;
  --color-share-new-green-500: #6aa66d;
  --color-share-new-green-600: #548556;
  --color-share-new-green-700: #426a43;
  --color-share-new-green-800: #253f26;
  --color-share-new-green-900: #162817;
  --color-share-new-green-950: #091409;
  --color-share-new-coral-50: #def8f5;
  --color-share-new-coral-100: #d0f7f2;
  --color-share-new-coral-200: #96e6dd;
  --color-share-new-coral-300: #85d9d1;
  --color-share-new-coral-400: #6cc0b9;
  --color-share-new-coral-500: #54a69f;
  --color-share-new-coral-600: #3b857f;
  --color-share-new-coral-700: #276a66;
  --color-share-new-coral-800: #0f403d;
  --color-share-new-coral-900: #072926;
  --color-share-new-coral-950: #021513;
  --color-share-new-lime-50: #eff9b6;
  --color-share-new-lime-100: #ebf88e;
  --color-share-new-lime-200: #d2e150;
  --color-share-new-lime-300: #c6d44b;
  --color-share-new-lime-400: #adba41;
  --color-share-new-lime-500: #95a036;
  --color-share-new-lime-600: #767f29;
  --color-share-new-lime-700: #5e651f;
  --color-share-new-lime-800: #424814;
  --color-share-new-lime-900: #282c09;
  --color-share-new-lime-950: #111302;
  --color-share-new-violet-50: #f3f2f8;
  --color-share-new-violet-100: #f1eef8;
  --color-share-new-violet-200: #e1d9f3;
  --color-share-new-violet-300: #d1c4f3;
  --color-share-new-violet-400: #bea5f5;
  --color-share-new-violet-500: #ab83f6;
  --color-share-new-violet-600: #9551fa;
  --color-share-new-violet-700: #8316f2;
  --color-share-new-violet-800: #5e0db0;
  --color-share-new-violet-900: #3b0573;
  --color-share-new-violet-950: #1a0536;
  --color-share-new-indigo-50: #f3f2f9;
  --color-share-new-indigo-100: #f0eef8;
  --color-share-new-indigo-200: #dedaf2;
  --color-share-new-indigo-300: #ccc6ee;
  --color-share-new-indigo-400: #b7adeb;
  --color-share-new-indigo-500: #9d8be9;
  --color-share-new-indigo-600: #8568e8;
  --color-share-new-indigo-700: #6c37e9;
  --color-share-new-indigo-800: #4f14bc;
  --color-share-new-indigo-900: #320082;
  --color-share-new-indigo-950: #160044;
  --color-that-yellow-50: #fff8e0;
  --color-that-yellow-100: #fff2c7;
  --color-that-yellow-200: #ffe38a;
  --color-that-yellow-300: #ffd652;
  --color-that-yellow-400: #ffc819;
  --color-that-yellow-500: #ebb300;
  --color-that-yellow-600: #bd9000;
  --color-that-yellow-700: #8a6900;
  --color-that-yellow-800: #5c4600;
  --color-that-yellow-900: #2e2300;
  --color-that-yellow-950: #1a1300;
  --color-mallof-red-50: #ffefef;
  --color-cc-blue-50: #def8ff;
  --color-cc-blue-100: #c3f3ff;
  --color-cc-blue-200: #6ce8fe;
  --color-cc-blue-300: #1ed4ec;
  --color-cc-blue-400: #1abfd5;
  --color-cc-blue-500: #139cae;
  --color-cc-blue-600: #0d7b89;
  --color-cc-blue-700: #075e69;
  --color-cc-blue-800: #034048;
  --color-cc-blue-900: #012429;
  --color-cc-blue-950: #01161a;
  --color-cc-orange-50: #fef1ef;
  --color-cc-orange-100: #fddedb;
  --color-cc-orange-200: #fcc1ba;
  --color-cc-orange-300: #fb9d91;
  --color-cc-orange-400: #fa765f;
  --color-cc-orange-500: #f05223;
  --color-cc-orange-600: #be3f19;
  --color-cc-orange-700: #912e11;
  --color-cc-orange-800: #661e09;
  --color-cc-orange-900: #3c0e03;
  --color-cc-orange-950: #2a0701;
  --color-cc-yolk-50: #fdeee4;
  --color-cc-yolk-100: #fce0cc;
  --color-cc-yolk-200: #f9bd85;
  --color-cc-yolk-300: #eca140;
  --color-cc-yolk-400: #c98835;
  --color-cc-yolk-500: #a46e29;
  --color-cc-yolk-600: #83581f;
  --color-cc-yolk-700: #644216;
  --color-cc-yolk-800: #472d0c;
  --color-cc-yolk-900: #281804;
  --color-cc-yolk-950: #1a0e02;
  --color-cc-pink-50: #fdf0fc;
  --color-cc-pink-100: #fbe0f9;
  --color-cc-pink-200: #f7c4f5;
  --color-cc-pink-300: #f4a3ef;
  --color-cc-pink-400: #f082eb;
  --color-cc-pink-500: #e346dd;
  --color-cc-pink-600: #b737b2;
  --color-cc-pink-700: #892786;
  --color-cc-pink-800: #5e185b;
  --color-cc-pink-900: #390b38;
  --color-cc-pink-950: #260525;
  --color-cc-violet-50: #f5f2ff;
  --color-cc-violet-100: #eae5ff;
  --color-cc-violet-200: #d4c7ff;
  --color-cc-violet-300: #c1acff;
  --color-cc-violet-400: #ad8eff;
  --color-cc-violet-500: #9c70ff;
  --color-cc-violet-600: #8b4aff;
  --color-cc-violet-700: #7d00ff;
  --color-cc-violet-800: #5500b1;
  --color-cc-violet-900: #31006c;
  --color-cc-violet-950: #1f0049;
  --color-cc-moss-50: #c3ffce;
  --color-cc-moss-100: #66ff8d;
  --color-cc-moss-200: #00e863;
  --color-cc-moss-300: #00c955;
  --color-cc-moss-400: #00ab47;
  --color-cc-moss-500: #008d39;
  --color-cc-moss-600: #00702c;
  --color-cc-moss-700: #005520;
  --color-cc-moss-800: #003913;
  --color-cc-moss-900: #002108;
  --color-cc-moss-950: #001504;
  --color-cc-brown-50: #f9f6f1;
  --color-cc-brown-100: #f1ebe0;
  --color-cc-brown-200: #e2d6c0;
  --color-cc-brown-300: #d5c2a4;
  --color-cc-brown-400: #c7ab85;
  --color-cc-brown-500: #b99265;
  --color-cc-brown-600: #a4794b;
  --color-cc-brown-700: #88623e;
  --color-cc-brown-800: #694930;
  --color-cc-brown-900: #493222;
  --color-cc-brown-950: #3b271b;
  --color-cc-cream-20: #fffcf3;
  --color-cc-cream-50: #fbf5dd;
  --color-cc-cream-100: #f6e699;
  --color-cc-cream-200: #d9ca80;
  --color-cc-cream-300: #bbae6e;
  --color-cc-cream-400: #9f945c;
  --color-cc-cream-500: #837a4b;
  --color-cc-cream-600: #69613b;
  --color-cc-cream-700: #4d472a;
  --color-cc-cream-800: #35311b;
  --color-cc-cream-900: #1e1c0d;
  --color-cc-cream-950: #131107;
  --color-mallof-red-100: #ffdcdc;
  --color-mallof-red-200: #f0b2b2;
  --color-mallof-red-300: #e99c9c;
  --color-mallof-red-400: #e28686;
  --color-mallof-red-500: #d35959;
  --color-mallof-red-600: #c52d2d;
  --color-mallof-red-700: #b60000;
  --color-mallof-red-800: #920000;
  --color-mallof-red-900: #6d0000;
  --color-mallof-red-950: #490000;
  --color-mallof-black-50: #ebebeb;
  --color-mallof-black-100: #dadada;
  --color-mallof-black-200: #b6b6b6;
  --color-mallof-black-300: #939393;
  --color-mallof-black-400: #727272;
  --color-mallof-black-500: #505050;
  --color-mallof-black-600: #323232;
  --color-mallof-black-700: #181818;
  --color-mallof-black-800: #111111;
  --color-mallof-black-900: #0b0b0b;
  --color-mallof-black-950: #040404;
  --color-mallof-green-50: #c3fde6;
  --color-mallof-green-100: #62fccc;
  --color-mallof-green-200: #4cddb1;
  --color-mallof-green-300: #3fbc96;
  --color-mallof-green-400: #349f7f;
  --color-mallof-green-500: #298267;
  --color-mallof-green-600: #1f6751;
  --color-mallof-green-700: #154d3c;
  --color-mallof-green-800: #0c372a;
  --color-mallof-green-900: #052017;
  --color-mallof-green-950: #02140e;
  --color-mallof-orange-50: #fdf1ef;
  --color-mallof-orange-100: #fbe3df;
  --color-mallof-orange-200: #f8c2ba;
  --color-mallof-orange-300: #f5a496;
  --color-mallof-orange-400: #f3846b;
  --color-mallof-orange-500: #e86339;
  --color-mallof-orange-600: #ba4e2c;
  --color-mallof-orange-700: #8b381e;
  --color-mallof-orange-800: #602412;
  --color-mallof-orange-900: #3b1307;
  --color-mallof-orange-950: #270a03;
  --color-mallof-error-50: #fdedee;
  --color-mallof-error-100: #fbdfe0;
  --color-mallof-error-200: #f7babc;
  --color-mallof-error-300: #f4979a;
  --color-mallof-error-400: #f26a70;
  --color-mallof-error-500: #ed3241;
  --color-mallof-error-600: #be2632;
  --color-mallof-error-700: #931b25;
  --color-mallof-error-800: #661017;
  --color-mallof-error-900: #40060b;
  --color-mallof-error-950: #2a0305;
  --color-share-burgundy-50: #fcedf3;
  --color-share-burgundy-100: #f7d3e1;
  --color-share-burgundy-200: #f4bcd2;
  --color-share-burgundy-300: #f5a3c2;
  --color-share-burgundy-400: #e46495;
  --color-share-burgundy-500: #d92168;
  --color-share-burgundy-600: #ad1a53;
  --color-share-burgundy-700: #910f41;
  --color-share-burgundy-800: #610a2c;
  --color-share-burgundy-900: #2e0515;
  --color-share-burgundy-950: #17020a;
  --color-share-gray-50: #f2f2f2;
  --color-share-gold-50: #faf4eb;
  --color-share-gold-100: #e7e1d3;
  --color-share-gold-200: #d1c1a6;
  --color-share-gold-300: #c3b18e;
  --color-share-gold-400: #b9a37a;
  --color-share-gold-500: #aa915f;
  --color-share-gold-600: #a1854d;
  --color-share-gold-700: #80693d;
  --color-share-gold-800: #553e16;
  --color-share-gold-900: #2c200c;
  --color-share-gold-950: #140f05;
  --color-share-green-50: #e7f5ee;
  --color-share-red-50: #f7eaea;
  --color-share-red-100: #f8dbdb;
  --color-share-red-200: #f8cdcd;
  --color-share-red-300: #f19a9a;
  --color-share-red-400: #eb7a7a;
  --color-share-red-500: #e96868;
  --color-share-red-600: #e55454;
  --color-share-red-700: #e23636;
  --color-share-red-800: #b32a2a;
  --color-share-red-900: #7f2020;
  --color-share-red-950: #5c1919;
  --color-share-green-100: #d6eee2;
  --color-share-green-200: #b6e2cb;
  --color-share-green-300: #85cea8;
  --color-share-green-400: #6fc799;
  --color-share-green-500: #55ba85;
  --color-share-green-600: #2dab68;
  --color-share-green-700: #0c9d50;
  --color-share-green-800: #147642;
  --color-share-green-900: #0c4828;
  --color-share-green-950: #0a2f1b;
  --color-share-amber-50: #fff1e1;
  --color-share-amber-100: #fce4c9;
  --color-share-amber-200: #fdd9af;
  --color-share-amber-300: #f9c992;
  --color-share-amber-400: #f7bd7b;
  --color-share-amber-500: #f6ae5c;
  --color-share-amber-600: #f39325;
  --color-share-amber-700: #db831f;
  --color-share-amber-800: #ac6513;
  --color-share-amber-900: #7e4606;
  --color-share-amber-950: #633602;
  --color-share-gray-100: #e8e8e8;
  --color-share-gray-200: #d1d1d1;
  --color-share-gray-300: #bdbdbd;
  --color-share-gray-400: #959595;
  --color-share-gray-500: #757575;
  --color-share-gray-600: #6d6d6d;
  --color-share-gray-700: #595959;
  --color-share-gray-800: #454545;
  --color-share-gray-900: #313131;
  --color-share-gray-950: #1c1c1c;
  --color-share-gray-1000: #0d0d0d;

  /* ── FONT ──────────────────────────────────────────────── */
  --font-family-marselis-pro: "Marselis Pro";
  --font-family-inter: "Inter";
  --font-family-klarheit-kurrent: "ES Klarheit Kurrent";
  --font-family-aktiv-grotesk: "Aktiv Grotesk";
  --font-family-forced-square: "FORCED SQUARE";
  --font-family-geist-mono: "Geist Mono";
  --font-family-larken: "Larken";
  --font-family-futura: "Futura";
  --font-family-montserrat: "Montserrat";
  --font-family-parkinsans: "Parkinsans";
  --font-family-tajawal: "Tajawal";
  --font-size-10: 10;
  --font-family-vazirmatn: "Vazirmatn";
  --font-size-12: 12;
  --font-size-14: 14;
  --font-size-16: 16;
  --font-size-18: 18;
  --font-size-20: 20;
  --font-size-24: 24;
  --font-size-28: 28;
  --font-size-30: 30;
  --font-size-32: 32;
  --font-size-36: 36;
  --font-size-40: 40;
  --font-size-48: 48;
  --font-size-60: 60;
  --font-size-72: 72;
  --font-size-96: 96;
  --font-size-128: 128;
  --font-size-256: 256;
  --font-weight-400: 400;
  --font-weight-500: 500;
  --font-weight-600: 600;
  --font-line-height-10: 10;
  --font-weight-700: 700;
  --font-line-height-14: 14;
  --font-line-height-16: 16;
  --font-line-height-18: 18;
  --font-line-height-20: 20;
  --font-line-height-24: 24;
  --font-line-height-28: 28;
  --font-line-height-32: 32;
  --font-line-height-36: 36;
  --font-line-height-40: 40;
  --font-line-height-48: 48;
  --font-line-height-60: 60;
  --font-line-height-72: 72;
  --font-line-height-96: 96;
  --font-line-height-128: 128;
  --font-line-height-256: 256;
  --font-spacing-4: -4;
  --font-spacing-3: -3;
  --font-spacing-2: -2;
  --font-spacing-1-5: -1.5;
  --font-spacing-1: -1;
  --font-spacing-0-5: -0.5;
  --font-spacing-0: 0;
  --font-spacing-0-5: 0.5;
  --font-spacing-1: 1;
  --font-spacing-1-5: 1.5;
  --font-spacing-2: 2;
  --font-spacing-3: 3;
  --font-spacing-4: 4;
  --font-family-din-next-lt-arabic: "DIN Next LT Arabic";
  --font-family-el-messiri: "El Messiri";
  --font-family-euclid-circular-a: "Euclid Circular A";
  --font-family-almarai: "Almarai";

  /* ── SPACING ───────────────────────────────────────────── */
  --spacing-0: 0;
  --spacing-1: 1;
  --spacing-2: 2;
  --spacing-4: 4;
  --spacing-6: 6;
  --spacing-8: 8;
  --spacing-10: 10;
  --spacing-12: 12;
  --spacing-14: 14;
  --spacing-16: 16;
  --spacing-18: 18;
  --spacing-20: 20;
  --spacing-24: 24;
  --spacing-28: 28;
  --spacing-32: 32;
  --spacing-36: 36;
  --spacing-40: 40;
  --spacing-44: 44;
  --spacing-48: 48;
  --spacing-56: 56;
  --spacing-64: 64;
  --spacing-80: 80;
  --spacing-96: 96;
  --spacing-112: 112;
  --spacing-128: 128;
  --spacing-144: 144;
  --spacing-160: 160;
  --spacing-176: 176;
  --spacing-192: 192;
  --spacing-208: 208;
  --spacing-224: 224;
  --spacing-240: 240;
  --spacing-256: 256;
  --spacing-288: 288;
  --spacing-320: 320;
  --spacing-384: 384;
  --spacing-448: 448;
  --spacing-512: 512;
  --spacing-576: 576;
  --spacing-640: 640;
  --spacing-704: 704;
  --spacing-768: 768;
  --spacing-832: 832;
  --spacing-896: 896;
  --spacing-960: 960;
  --spacing-1024: 1024;
  --spacing-1152: 1152;
  --spacing-1280: 1280;
  --spacing-24: 24;

  /* ── BORDER ────────────────────────────────────────────── */
  --border-0: 0;
  --border-1: 1;
  --border-1-5: 1.5;
  --border-2: 2;
  --border-2-5: 2.5;
  --border-3: 3;
  --border-3-5: 3.5;
  --border-4: 4;
  --border-4-5: 4.5;
  --border-5: 5;

  /* ── ROUNDED ───────────────────────────────────────────── */
  --rounded-0: 0;
  --rounded-1: 1;
  --rounded-2: 2;
  --rounded-4: 4;
  --rounded-6: 6;
  --rounded-8: 8;
  --rounded-10: 10;
  --rounded-12: 12;
  --rounded-14: 14;
  --rounded-16: 16;
  --rounded-18: 18;
  --rounded-20: 20;
  --rounded-24: 24;
  --rounded-28: 28;
  --rounded-32: 32;
  --rounded-36: 36;
  --rounded-40: 40;
  --rounded-44: 44;
  --rounded-48: 48;
  --rounded-56: 56;
  --rounded-64: 64;
  --rounded-80: 80;
  --rounded-96: 96;
  --rounded-112: 112;
  --rounded-128: 128;
  --rounded-1000: 1000;

  /* ── EFFECTS ───────────────────────────────────────────── */
  --effects-blur-0: 0;
  --effects-blur-1: 1;
  --effects-blur-2: 2;
  --effects-blur-4: 4;
  --effects-blur-6: 6;
  --effects-blur-8: 8;
  --effects-blur-10: 10;
  --effects-blur-12: 12;
  --effects-blur-16: 16;
  --effects-blur-18: 18;
  --effects-blur-20: 20;
  --effects-blur-24: 24;
  --effects-blur-28: 28;
  --effects-blur-32: 32;
  --effects-blur-48: 48;
  --effects-blur-52: 52;
  --effects-blur-56: 56;
  --effects-blur-60: 60;
  --effects-blur-64: 64;
  --effects-blur-96: 96;
  --effects-depth-5: 5;
  --effects-depth-10: 10;
  --effects-depth-20: 20;
  --effects-depth-30: 30;
  --effects-depth-40: 40;
  --effects-depth-50: 50;
  --effects-depth-60: 60;
  --effects-depth-70: 70;
  --effects-depth-80: 80;
  --effects-depth-90: 90;
  --effects-depth-100: 100;
  --effects-dispertion-10: 10;
  --effects-dispertion-20: 20;
  --effects-dispertion-30: 30;
  --effects-dispertion-40: 40;
  --effects-dispertion-50: 50;
  --effects-dispertion-60: 60;
  --effects-dispertion-70: 70;
  --effects-dispertion-80: 80;
  --effects-dispertion-90: 90;
  --effects-dispertion-100: 100;
  --effects-frost-1: 1;
  --effects-light-angle-135: -135;
  --effects-light-angle-45: -45;
  --effects-light-angle-0: 0;
  --effects-light-angle-45: 45;
  --effects-light-angle-135: 135;
  --effects-light-angle-180: 180;
  --effects-frost-2: 2;
  --effects-frost-3: 3;
  --effects-frost-4: 4;
  --effects-frost-5: 5;
  --effects-frost-6: 6;
  --effects-frost-7: 7;
  --effects-frost-8: 8;
  --effects-frost-9: 9;
  --effects-frost-10: 10;
  --effects-refraction: 80;
  --effects-light-intensity-10: 10;
  --effects-light-intensity-20: 20;
  --effects-light-intensity-30: 30;
  --effects-light-intensity-40: 40;
  --effects-light-intensity-50: 50;
  --effects-light-intensity-60: 60;
  --effects-light-intensity-70: 70;
  --effects-light-intensity-80: 80;
  --effects-light-intensity-90: 90;
  --effects-light-intensity-100: 100;
  --effects-position-0: 0;
  --effects-position-1: 1;
  --effects-position-2: 2;
  --effects-position-4: 4;
  --effects-position-6: 6;
  --effects-position-8: 8;
  --effects-position-10: 10;
  --effects-position-12: 12;
  --effects-position-16: 16;
  --effects-position-18: 18;
  --effects-position-20: 20;
  --effects-position-24: 24;
  --effects-position-32: 32;
  --effects-position-48: 48;
  --effects-position-64: 64;
  --effects-position-96: 96;
  --effects-refraction-10: 10;
  --effects-refraction-20: 20;
  --effects-refraction-30: 30;
  --effects-refraction-40: 40;
  --effects-refraction-50: 50;
  --effects-refraction-60: 60;
  --effects-refraction-70: 70;
  --effects-refraction-80: 80;
  --effects-refraction-90: 90;
  --effects-refraction-100: 100;
  --effects-spread-10: -10;
  --effects-spread-9: -9;
  --effects-spread-8: -8;
  --effects-spread-7: -7;
  --effects-spread-6: -6;
  --effects-spread-5: -5;
  --effects-spread-4: -4;
  --effects-spread-3: -3;
  --effects-spread-2: -2;
  --effects-spread-1: -1;
  --effects-spread-0: 0;
  --effects-spread-1: 1;
  --effects-spread-2: 2;
  --effects-spread-3: 3;
  --effects-spread-4: 4;
  --effects-spread-5: 5;
  --effects-spread-6: 6;
  --effects-spread-7: 7;
  --effects-spread-8: 8;
  --effects-spread-9: 9;
  --effects-spread-10: 10;
  --radius-16: 16;
}
