/* Share — Semantic */
:root {
  --color-base-black: var(--color-black);
  --color-base-white: var(--color-white);
  --color-base-transparent: transparent;
  --color-base-background: var(--color-white);
  --color-neutral-surface-lighter: var(--color-global-gray-50);
  --color-neutral-surface-light: var(--color-global-gray-100);
  --color-neutral-on-surface-lighter: var(--color-global-gray-950);
  --color-neutral-on-surface-light: var(--color-global-gray-950);
  --color-neutral-on-surface-base: var(--color-global-gray-950);
  --color-neutral-on-surface-dark: var(--color-global-gray-950);
  --color-neutral-on-surface-darker: var(--color-global-gray-950);
  --color-neutral-text-main: var(--color-black);
  --color-neutral-text-secondary: var(--color-global-gray-700);
  --color-neutral-text-tertiary: var(--color-global-gray-500);
  --color-neutral-text-inverted: var(--color-white);
  --color-neutral-surface-base: var(--color-global-gray-200);
  --color-neutral-surface-dark: var(--color-global-gray-300);
  --color-neutral-surface-darker: var(--color-global-gray-400);
  --color-neutral-surface-hover: var(--color-global-gray-200);
  --color-neutral-surface-pressed: var(--color-global-gray-300);
  --color-neutral-foreground-main: var(--color-black);
  --color-neutral-foreground-secondary: var(--color-global-gray-700);
  --color-neutral-foreground-tertiary: var(--color-global-gray-500);
  --color-neutral-foreground-inverted: var(--color-white);
  --color-neutral-border-main: var(--color-black);
  --color-neutral-border-lighter: var(--color-global-gray-100);
  --color-neutral-border-light: var(--color-global-gray-200);
  --color-neutral-border-base: var(--color-global-gray-300);
  --color-neutral-border-dark: var(--color-global-gray-400);
  --color-neutral-border-darker: var(--color-global-gray-500);
  --color-neutral-border-inverted: var(--color-white);
  --color-primary-surface-lighter: var(--color-global-blue-50);
  --color-primary-on-surface-lighter: var(--color-global-blue-950);
  --color-primary-on-surface-light: var(--color-global-blue-950);
  --color-primary-on-surface-base: var(--color-white);
  --color-primary-on-surface-dark: var(--color-white);
  --color-primary-on-surface-darker: var(--color-white);
  --color-primary-text-main: var(--color-global-blue-600);
  --color-primary-text-secondary: var(--color-global-blue-500);
  --color-primary-text-tertiary: var(--color-global-blue-300);
  --color-primary-surface-light: var(--color-global-blue-200);
  --color-primary-surface-base: var(--color-global-blue-500);
  --color-primary-surface-dark: var(--color-global-blue-700);
  --color-primary-surface-darker: var(--color-global-blue-900);
  --color-primary-surface-hover: var(--color-global-blue-600);
  --color-primary-surface-pressed: var(--color-global-blue-700);
  --color-primary-foreground-main: var(--color-global-blue-600);
  --color-primary-border-lighter: var(--color-global-blue-100);
  --color-primary-border-light: var(--color-global-blue-300);
  --color-primary-border-base: var(--color-global-blue-600);
  --color-primary-border-dark: var(--color-global-blue-800);
  --color-primary-border-darker: var(--color-global-blue-950);
  --color-primary-foreground-secondary: var(--color-global-blue-500);
  --color-primary-foreground-tertiary: var(--color-global-blue-300);
  --color-secondary-surface-lighter: var(--color-global-purple-50);
  --color-secondary-surface-light: var(--color-global-purple-200);
  --color-secondary-surface-base: var(--color-global-purple-500);
  --color-secondary-surface-dark: var(--color-global-purple-700);
  --color-secondary-surface-darker: var(--color-global-purple-900);
  --color-secondary-surface-hover: var(--color-global-purple-600);
  --color-secondary-surface-pressed: var(--color-global-purple-700);
  --color-secondary-on-surface-lighter: var(--color-global-purple-950);
  --color-secondary-on-surface-light: var(--color-global-purple-950);
  --color-secondary-on-surface-base: var(--color-white);
  --color-secondary-on-surface-dark: var(--color-white);
  --color-secondary-on-surface-darker: var(--color-white);
  --color-secondary-text-main: var(--color-global-purple-600);
  --color-secondary-text-secondary: var(--color-global-purple-500);
  --color-secondary-text-tertiary: var(--color-global-purple-300);
  --color-secondary-text-quaternary: var(--color-global-purple-200);
  --color-secondary-text-muted: var(--color-global-purple-100);
  --color-secondary-foreground-main: var(--color-global-purple-600);
  --color-secondary-foreground-secondary: var(--color-global-purple-500);
  --color-secondary-foreground-tertiary: var(--color-global-purple-300);
  --color-secondary-foreground-quaternary: var(--color-global-purple-200);
  --color-secondary-foreground-muted: var(--color-global-purple-100);
  --color-secondary-border-lighter: var(--color-global-purple-100);
  --color-secondary-border-light: var(--color-global-purple-300);
  --color-secondary-border-base: var(--color-global-purple-600);
  --color-secondary-border-dark: var(--color-global-purple-800);
  --color-secondary-border-darker: var(--color-global-purple-950);
  --color-success-surface-lighter: var(--color-global-green-50);
  --color-success-surface-light: var(--color-global-green-200);
  --color-success-surface-base: var(--color-global-green-500);
  --color-success-surface-dark: var(--color-global-green-700);
  --color-success-surface-darker: var(--color-global-green-900);
  --color-success-surface-hover: var(--color-global-green-600);
  --color-success-surface-pressed: var(--color-global-green-700);
  --color-success-on-surface-lighter: var(--color-global-green-950);
  --color-success-on-surface-light: var(--color-global-green-950);
  --color-success-on-surface-base: var(--color-white);
  --color-success-on-surface-dark: var(--color-white);
  --color-success-on-surface-darker: var(--color-white);
  --color-success-text-main: var(--color-global-green-600);
  --color-success-text-secondary: var(--color-global-green-500);
  --color-success-text-tertiary: var(--color-global-green-300);
  --color-success-foreground-main: var(--color-global-green-600);
  --color-success-border-lighter: var(--color-global-green-100);
  --color-success-border-light: var(--color-global-green-300);
  --color-success-border-base: var(--color-global-green-600);
  --color-success-border-dark: var(--color-global-green-800);
  --color-success-border-darker: var(--color-global-green-950);
  --color-success-foreground-secondary: var(--color-global-green-500);
  --color-success-foreground-tertiary: var(--color-global-green-300);
  --color-warning-surface-lighter: var(--color-global-orange-50);
  --color-warning-surface-light: var(--color-global-orange-200);
  --color-warning-surface-base: var(--color-global-orange-500);
  --color-warning-surface-dark: var(--color-global-orange-700);
  --color-warning-surface-darker: var(--color-global-orange-900);
  --color-warning-surface-hover: var(--color-global-orange-600);
  --color-warning-surface-pressed: var(--color-global-orange-700);
  --color-warning-on-surface-lighter: var(--color-global-orange-950);
  --color-warning-on-surface-light: var(--color-global-orange-950);
  --color-warning-on-surface-base: var(--color-white);
  --color-warning-on-surface-dark: var(--color-white);
  --color-warning-on-surface-darker: var(--color-white);
  --color-warning-text-main: var(--color-global-orange-600);
  --color-warning-text-secondary: var(--color-global-orange-500);
  --color-warning-text-tertiary: var(--color-global-orange-300);
  --color-warning-foreground-main: var(--color-global-orange-600);
  --color-warning-border-lighter: var(--color-global-orange-100);
  --color-warning-border-light: var(--color-global-orange-300);
  --color-warning-border-base: var(--color-global-orange-600);
  --color-warning-border-dark: var(--color-global-orange-800);
  --color-warning-border-darker: var(--color-global-orange-950);
  --color-warning-foreground-secondary: var(--color-global-orange-500);
  --color-warning-foreground-tertiary: var(--color-global-orange-300);
  --color-error-surface-lighter: var(--color-global-red-50);
  --color-error-surface-light: var(--color-global-red-200);
  --color-error-surface-base: var(--color-global-red-500);
  --color-error-surface-dark: var(--color-global-red-700);
  --color-error-surface-darker: var(--color-global-red-900);
  --color-error-surface-hover: var(--color-global-red-600);
  --color-error-surface-pressed: var(--color-global-red-700);
  --color-error-on-surface-lighter: var(--color-global-red-950);
  --color-error-on-surface-light: var(--color-global-red-950);
  --color-error-on-surface-base: var(--color-white);
  --color-error-on-surface-dark: var(--color-white);
  --color-error-on-surface-darker: var(--color-white);
  --color-error-text-main: var(--color-global-red-600);
  --color-error-text-secondary: var(--color-global-red-500);
  --color-error-text-tertiary: var(--color-global-red-300);
  --color-error-foreground-main: var(--color-global-red-600);
  --color-error-foreground-secondary: var(--color-global-red-500);
  --color-error-foreground-tertiary: var(--color-global-red-300);
  --color-error-border-lighter: var(--color-global-red-100);
  --color-error-border-light: var(--color-global-red-300);
  --color-error-border-base: var(--color-global-red-600);
  --color-error-border-dark: var(--color-global-red-800);
  --color-error-border-darker: var(--color-global-red-950);
  --color-info-surface-lighter: var(--color-global-blue-50);
  --color-info-surface-light: var(--color-global-blue-200);
  --color-info-surface-base: var(--color-global-blue-500);
  --color-info-surface-dark: var(--color-global-blue-700);
  --color-info-surface-darker: var(--color-global-blue-900);
  --color-info-surface-hover: var(--color-global-blue-600);
  --color-info-surface-pressed: var(--color-global-blue-700);
  --color-info-on-surface-lighter: var(--color-global-blue-950);
  --color-info-on-surface-light: var(--color-global-blue-950);
  --color-info-on-surface-base: var(--color-white);
  --color-info-on-surface-dark: var(--color-white);
  --color-info-on-surface-darker: var(--color-white);
  --color-info-text-main: var(--color-global-blue-600);
  --color-info-text-secondary: var(--color-global-blue-500);
  --color-info-text-tertiary: var(--color-global-blue-300);
  --color-info-foreground-main: var(--color-global-blue-600);
  --color-info-foreground-secondary: var(--color-global-blue-500);
  --color-info-foreground-tertiary: var(--color-global-blue-300);
  --color-info-border-lighter: var(--color-global-blue-100);
  --color-info-border-light: var(--color-global-blue-300);
  --color-info-border-base: var(--color-global-blue-600);
  --color-info-border-dark: var(--color-global-blue-800);
  --color-info-border-darker: var(--color-global-blue-950);
  --color-alpha-light-5: var(--color-global-white-a5);
  --color-alpha-light-10: var(--color-global-white-a10);
  --color-alpha-light-20: var(--color-global-white-a20);
  --color-alpha-light-30: var(--color-global-white-a30);
  --color-alpha-light-40: var(--color-global-white-a40);
  --color-alpha-light-50: var(--color-global-white-a50);
  --color-alpha-light-60: var(--color-global-white-a60);
  --color-alpha-light-70: var(--color-global-white-a70);
  --color-alpha-light-80: var(--color-global-white-a80);
  --color-alpha-light-90: var(--color-global-white-a90);
  --color-alpha-light-95: var(--color-global-white-a95);
  --size-zero: var(--spacing-0);
  --size-px: var(--spacing-1);
  --size-3xs: var(--spacing-2);
  --size-2xs: var(--spacing-4);
  --size-xs: var(--spacing-6);
  --size-sm: var(--spacing-8);
  --size-md: var(--spacing-10);
  --size-lg: var(--spacing-12);
  --size-xl: var(--spacing-16);
  --size-2xl: var(--spacing-20);
  --size-3xl: var(--spacing-24);
  --size-4xl: var(--spacing-32);
  --size-5xl: var(--spacing-40);
  --size-6xl: var(--spacing-48);
  --size-7xl: var(--spacing-56);
  --size-8xl: var(--spacing-64);
  --size-9xl: var(--spacing-80);
  --size-10xl: var(--spacing-96);
  --size-11xl: var(--spacing-112);
  --size-12xl: var(--spacing-128);
  --size-13xl: var(--spacing-144);
  --size-14xl: var(--spacing-160);
  --size-15xl: var(--spacing-176);
  --size-16xl: var(--spacing-192);
  --size-17xl: var(--spacing-208);
  --size-18xl: var(--spacing-224);
  --size-19xl: var(--spacing-256);
  --size-20xl: var(--spacing-320);
  --size-21xl: var(--spacing-384);
  --size-22xl: var(--spacing-448);
  --size-23xl: var(--spacing-512);
  --size-24xl: var(--spacing-576);
  --size-25xl: var(--spacing-640);
  --border-zero: var(--border-0);
  --border-main: var(--border-1);
  --radius-zero: var(--rounded-0);
  --radius-xxs: var(--rounded-4);
  --radius-xs: var(--rounded-8);
  --radius-sm: var(--rounded-12);
  --radius-md: var(--rounded-16);
  --radius-lg: var(--rounded-24);
  --radius-full: var(--rounded-1000);
  --color-alpha-dark-5: var(--color-global-black-a5);
  --color-alpha-dark-10: var(--color-global-black-a10);
  --color-alpha-dark-20: var(--color-global-black-a20);
  --color-alpha-dark-30: var(--color-global-black-a30);
  --color-alpha-dark-40: var(--color-global-black-a40);
  --color-alpha-dark-50: var(--color-global-black-a50);
  --color-alpha-dark-60: var(--color-global-black-a60);
  --color-alpha-dark-70: var(--color-global-black-a70);
  --color-alpha-dark-80: var(--color-global-black-a80);
  --color-alpha-dark-90: var(--color-global-black-a90);
  --color-alpha-dark-95: var(--color-global-black-a95);
  --components-navigation-tab-bar-radius: var(--rounded-32);
  --components-navigation-top-bar-background: var(--color-base-background);
  --components-button-color-primary: var(--color-primary-surface-base);
  --components-button-color-primary-hover: var(--color-primary-surface-hover);
  --components-button-color-primary-pressed: var(--color-primary-surface-pressed);
  --components-input-field-size: var(--size-6xl);
  --components-button-color-primary-on-surface: var(--color-primary-on-surface-base);
  --components-button-color-secondary: var(--color-secondary-surface-base);
  --components-button-color-secondary-hover: var(--color-secondary-surface-hover);
  --components-button-color-secondary-pressed: var(--color-secondary-surface-pressed);
  --components-button-color-secondary-on-surface: var(--color-secondary-on-surface-base);
  --components-button-font-weight: var(--font-weight-500);
  --components-input-border-width: var(--border-1);
  --components-button-sm-padding-x: var(--size-sm);
  --components-input-field-padding: var(--size-lg);
  --components-input-shadow-color: var(--color-alpha-dark-10);
  --components-button-sm-size: var(--size-4xl);
  --components-input-field-radius: var(--radius-sm);
  --components-button-sm-radius: var(--radius-sm);
  --components-button-md-padding-x: var(--size-md);
  --components-button-md-size: var(--size-5xl);
  --components-button-md-radius: var(--radius-sm);
  --components-button-lg-padding-x: var(--size-lg);
  --components-button-lg-size: var(--size-6xl);
  --components-button-lg-radius: var(--radius-sm);
  --components-input-highlight-color: var(--color-global-gray-950);
  --components-button-filter-padding-x: var(--size-sm);
  --components-button-filter-size: var(--size-4xl);
  --components-button-filter-radius: var(--radius-full);
}
