/* Share New Test — Semantic */
:root {
  --color-base-black: oklch(0 0 0);
  --color-base-white: oklch(1 0 89.88);
  --color-base-transparent: oklch(1 0 89.88 / 0);
  --color-base-background: oklch(1 0 89.88);
  --color-neutral-surface-lighter: oklch(0.9761 0 89.88);
  --color-neutral-surface-light: oklch(0.9702 0 89.88);
  --color-neutral-on-surface-lighter: oklch(0.1684 0 89.88);
  --color-neutral-on-surface-light: oklch(0.1684 0 89.88);
  --color-neutral-on-surface-base: oklch(0.1684 0 89.88);
  --color-neutral-on-surface-dark: oklch(0.1684 0 89.88);
  --color-neutral-on-surface-darker: oklch(0.1684 0 89.88);
  --color-neutral-text-main: oklch(0 0 0);
  --color-neutral-text-secondary: oklch(0.3791 0 89.88);
  --color-neutral-text-tertiary: oklch(0.5555 0 89.88);
  --color-neutral-text-inverted: oklch(1 0 89.88);
  --color-neutral-surface-base: oklch(0.9219 0 89.88);
  --color-neutral-surface-dark: oklch(0.8761 0 89.88);
  --color-neutral-surface-darker: oklch(0.7155 0 89.88);
  --color-neutral-surface-hover: oklch(0.9219 0 89.88);
  --color-neutral-surface-pressed: oklch(0.8761 0 89.88);
  --color-neutral-foreground-main: oklch(0 0 0);
  --color-neutral-foreground-secondary: oklch(0.3791 0 89.88);
  --color-neutral-foreground-tertiary: oklch(0.5555 0 89.88);
  --color-neutral-foreground-inverted: oklch(1 0 89.88);
  --color-neutral-border-main: oklch(0 0 0);
  --color-neutral-border-lighter: oklch(0.9702 0 89.88);
  --color-neutral-border-light: oklch(0.9219 0 89.88);
  --color-neutral-border-base: oklch(0.8761 0 89.88);
  --color-neutral-border-dark: oklch(0.7155 0 89.88);
  --color-neutral-border-darker: oklch(0.5555 0 89.88);
  --color-neutral-border-inverted: oklch(1 0 89.88);
  --color-primary-surface-lighter: oklch(0.9666 0.0157 266.28);
  --color-primary-on-surface-lighter: oklch(0.2831 0.1256 261.41);
  --color-primary-on-surface-light: oklch(0.2831 0.1256 261.41);
  --color-primary-on-surface-base: oklch(1 0 89.88);
  --color-primary-on-surface-dark: oklch(1 0 89.88);
  --color-primary-on-surface-darker: oklch(1 0 89.88);
  --color-primary-text-main: oklch(0.5367 0.2286 262.17);
  --color-primary-text-secondary: oklch(0.5884 0.2244 262.18);
  --color-primary-text-tertiary: oklch(0.7514 0.1271 263.38);
  --color-primary-surface-light: oklch(0.8436 0.0771 263.68);
  --color-primary-surface-base: oklch(0.5884 0.2244 262.18);
  --color-primary-surface-dark: oklch(0.5018 0.2437 262.6);
  --color-primary-surface-darker: oklch(0.3798 0.1772 262.11);
  --color-primary-surface-hover: oklch(0.5367 0.2286 262.17);
  --color-primary-surface-pressed: oklch(0.5018 0.2437 262.6);
  --color-primary-foreground-main: oklch(0.5367 0.2286 262.17);
  --color-primary-border-lighter: oklch(0.9052 0.0455 264.92);
  --color-primary-border-light: oklch(0.7514 0.1271 263.38);
  --color-primary-border-base: oklch(0.5367 0.2286 262.17);
  --color-primary-border-dark: oklch(0.4356 0.2085 262.43);
  --color-primary-border-darker: oklch(0.2831 0.1256 261.41);
  --color-primary-foreground-secondary: oklch(0.5884 0.2244 262.18);
  --color-primary-foreground-tertiary: oklch(0.7514 0.1271 263.38);
  --color-secondary-surface-lighter: oklch(0.9684 0.016 289.93);
  --color-secondary-surface-light: oklch(0.8912 0.0547 288.67);
  --color-secondary-surface-base: oklch(0.589 0.2241 286.64);
  --color-secondary-surface-dark: oklch(0.4714 0.2473 284.71);
  --color-secondary-surface-darker: oklch(0.3647 0.1806 286.02);
  --color-secondary-surface-hover: oklch(0.5228 0.251 286.17);
  --color-secondary-surface-pressed: oklch(0.4714 0.2473 284.71);
  --color-secondary-on-surface-lighter: oklch(0.2695 0.1269 287.38);
  --color-secondary-on-surface-light: oklch(0.2695 0.1269 287.38);
  --color-secondary-on-surface-base: oklch(1 0 89.88);
  --color-secondary-on-surface-dark: oklch(1 0 89.88);
  --color-secondary-on-surface-darker: oklch(1 0 89.88);
  --color-secondary-text-main: oklch(0.5228 0.251 286.17);
  --color-secondary-text-secondary: oklch(0.589 0.2241 286.64);
  --color-secondary-text-tertiary: oklch(0.8041 0.1039 289.42);
  --color-secondary-text-quaternary: oklch(0.8912 0.0547 288.67);
  --color-secondary-text-muted: oklch(0.9418 0.0282 290.22);
  --color-secondary-foreground-main: oklch(0.5228 0.251 286.17);
  --color-secondary-foreground-secondary: oklch(0.589 0.2241 286.64);
  --color-secondary-foreground-tertiary: oklch(0.8041 0.1039 289.42);
  --color-secondary-foreground-quaternary: oklch(0.8912 0.0547 288.67);
  --color-secondary-foreground-muted: oklch(0.9418 0.0282 290.22);
  --color-secondary-border-lighter: oklch(0.9418 0.0282 290.22);
  --color-secondary-border-light: oklch(0.8041 0.1039 289.42);
  --color-secondary-border-base: oklch(0.5228 0.251 286.17);
  --color-secondary-border-dark: oklch(0.4149 0.2149 284.92);
  --color-secondary-border-darker: oklch(0.2695 0.1269 287.38);
  --color-success-surface-lighter: oklch(0.9788 0.0221 160.24);
  --color-success-surface-light: oklch(0.8958 0.0886 157.59);
  --color-success-surface-base: oklch(0.6731 0.1596 155.59);
  --color-success-surface-dark: oklch(0.4987 0.1168 157.07);
  --color-success-surface-darker: oklch(0.3724 0.0808 159.87);
  --color-success-surface-hover: oklch(0.5862 0.1429 155.15);
  --color-success-surface-pressed: oklch(0.4987 0.1168 157.07);
  --color-success-on-surface-lighter: oklch(0.2857 0.0586 161.78);
  --color-success-on-surface-light: oklch(0.2857 0.0586 161.78);
  --color-success-on-surface-base: oklch(1 0 89.88);
  --color-success-on-surface-dark: oklch(1 0 89.88);
  --color-success-on-surface-darker: oklch(1 0 89.88);
  --color-success-text-main: oklch(0.5862 0.1429 155.15);
  --color-success-text-secondary: oklch(0.6731 0.1596 155.59);
  --color-success-text-tertiary: oklch(0.8274 0.1293 158.51);
  --color-success-foreground-main: oklch(0.5862 0.1429 155.15);
  --color-success-border-lighter: oklch(0.958 0.041 156.36);
  --color-success-border-light: oklch(0.8274 0.1293 158.51);
  --color-success-border-base: oklch(0.5862 0.1429 155.15);
  --color-success-border-dark: oklch(0.423 0.0945 158.65);
  --color-success-border-darker: oklch(0.2857 0.0586 161.78);
  --color-success-foreground-secondary: oklch(0.6731 0.1596 155.59);
  --color-success-foreground-tertiary: oklch(0.8274 0.1293 158.51);
  --color-warning-surface-lighter: oklch(0.9849 0.0204 91.58);
  --color-warning-surface-light: oklch(0.9112 0.1109 90.28);
  --color-warning-surface-base: oklch(0.7469 0.1701 62.11);
  --color-warning-surface-dark: oklch(0.5394 0.1562 42.99);
  --color-warning-surface-darker: oklch(0.4061 0.1142 40.57);
  --color-warning-surface-hover: oklch(0.6463 0.1695 50.2);
  --color-warning-surface-pressed: oklch(0.5394 0.1562 42.99);
  --color-warning-on-surface-lighter: oklch(0.3013 0.08 40.87);
  --color-warning-on-surface-light: oklch(0.3013 0.08 40.87);
  --color-warning-on-surface-base: oklch(1 0 89.88);
  --color-warning-on-surface-dark: oklch(1 0 89.88);
  --color-warning-on-surface-darker: oklch(1 0 89.88);
  --color-warning-text-main: oklch(0.6463 0.1695 50.2);
  --color-warning-text-secondary: oklch(0.7469 0.1701 62.11);
  --color-warning-text-tertiary: oklch(0.8594 0.1499 84.74);
  --color-warning-foreground-main: oklch(0.6463 0.1695 50.2);
  --color-warning-border-lighter: oklch(0.956 0.0552 91.41);
  --color-warning-border-light: oklch(0.8594 0.1499 84.74);
  --color-warning-border-base: oklch(0.6463 0.1695 50.2);
  --color-warning-border-dark: oklch(0.4615 0.1337 40.94);
  --color-warning-border-darker: oklch(0.3013 0.08 40.87);
  --color-warning-foreground-secondary: oklch(0.7469 0.1701 62.11);
  --color-warning-foreground-tertiary: oklch(0.8594 0.1499 84.74);
  --color-error-surface-lighter: oklch(0.9725 0.0119 23.7);
  --color-error-surface-light: oklch(0.89 0.0559 22.35);
  --color-error-surface-base: oklch(0.6371 0.2104 28.54);
  --color-error-surface-dark: oklch(0.5003 0.1821 29.51);
  --color-error-surface-darker: oklch(0.3975 0.1183 31.52);
  --color-error-surface-hover: oklch(0.5758 0.2088 29.48);
  --color-error-surface-pressed: oklch(0.5003 0.1821 29.51);
  --color-error-on-surface-lighter: oklch(0.3046 0.0952 31.72);
  --color-error-on-surface-light: oklch(0.3046 0.0952 31.72);
  --color-error-on-surface-base: oklch(1 0 89.88);
  --color-error-on-surface-dark: oklch(1 0 89.88);
  --color-error-on-surface-darker: oklch(1 0 89.88);
  --color-error-text-main: oklch(0.5758 0.2088 29.48);
  --color-error-text-secondary: oklch(0.6371 0.2104 28.54);
  --color-error-text-tertiary: oklch(0.8014 0.1094 24.57);
  --color-error-foreground-main: oklch(0.5758 0.2088 29.48);
  --color-error-foreground-secondary: oklch(0.6371 0.2104 28.54);
  --color-error-foreground-tertiary: oklch(0.8014 0.1094 24.57);
  --color-error-border-lighter: oklch(0.9394 0.0288 22.95);
  --color-error-border-light: oklch(0.8014 0.1094 24.57);
  --color-error-border-base: oklch(0.5758 0.2088 29.48);
  --color-error-border-dark: oklch(0.4322 0.15 28.99);
  --color-error-border-darker: oklch(0.3046 0.0952 31.72);
  --color-info-surface-lighter: oklch(0.9666 0.0157 266.28);
  --color-info-surface-light: oklch(0.8436 0.0771 263.68);
  --color-info-surface-base: oklch(0.5884 0.2244 262.18);
  --color-info-surface-dark: oklch(0.5018 0.2437 262.6);
  --color-info-surface-darker: oklch(0.3798 0.1772 262.11);
  --color-info-surface-hover: oklch(0.5367 0.2286 262.17);
  --color-info-surface-pressed: oklch(0.5018 0.2437 262.6);
  --color-info-on-surface-lighter: oklch(0.2831 0.1256 261.41);
  --color-info-on-surface-light: oklch(0.2831 0.1256 261.41);
  --color-info-on-surface-base: oklch(1 0 89.88);
  --color-info-on-surface-dark: oklch(1 0 89.88);
  --color-info-on-surface-darker: oklch(1 0 89.88);
  --color-info-text-main: oklch(0.5367 0.2286 262.17);
  --color-info-text-secondary: oklch(0.5884 0.2244 262.18);
  --color-info-text-tertiary: oklch(0.7514 0.1271 263.38);
  --color-info-foreground-main: oklch(0.5367 0.2286 262.17);
  --color-info-foreground-secondary: oklch(0.5884 0.2244 262.18);
  --color-info-foreground-tertiary: oklch(0.7514 0.1271 263.38);
  --color-info-border-lighter: oklch(0.9052 0.0455 264.92);
  --color-info-border-light: oklch(0.7514 0.1271 263.38);
  --color-info-border-base: oklch(0.5367 0.2286 262.17);
  --color-info-border-dark: oklch(0.4356 0.2085 262.43);
  --color-info-border-darker: oklch(0.2831 0.1256 261.41);
  --color-alpha-light-5: oklch(1 0 89.88 / 0.05);
  --color-alpha-light-10: oklch(1 0 89.88 / 0.1);
  --color-alpha-light-20: oklch(1 0 89.88 / 0.2);
  --color-alpha-light-30: oklch(1 0 89.88 / 0.3);
  --color-alpha-light-40: oklch(1 0 89.88 / 0.4);
  --color-alpha-light-50: oklch(1 0 89.88 / 0.5);
  --color-alpha-light-60: oklch(1 0 89.88 / 0.6);
  --color-alpha-light-70: oklch(1 0 89.88 / 0.7);
  --color-alpha-light-80: oklch(1 0 89.88 / 0.8);
  --color-alpha-light-90: oklch(1 0 89.88 / 0.9);
  --color-alpha-light-95: oklch(1 0 89.88 / 0.95);
  --size-zero: 0;
  --size-px: 0.0625rem;
  --size-3xs: 0.125rem;
  --size-2xs: 0.25rem;
  --size-xs: 0.375rem;
  --size-sm: 0.5rem;
  --size-md: 0.625rem;
  --size-lg: 0.75rem;
  --size-xl: 1rem;
  --size-2xl: 1.25rem;
  --size-3xl: 1.5rem;
  --size-4xl: 2rem;
  --size-5xl: 2.5rem;
  --size-6xl: 3rem;
  --size-7xl: 3.5rem;
  --size-8xl: 4rem;
  --size-9xl: 5rem;
  --size-10xl: 6rem;
  --size-11xl: 7rem;
  --size-12xl: 8rem;
  --size-13xl: 9rem;
  --size-14xl: 10rem;
  --size-15xl: 11rem;
  --size-16xl: 12rem;
  --size-17xl: 13rem;
  --size-18xl: 14rem;
  --size-19xl: 16rem;
  --size-20xl: 20rem;
  --size-21xl: 24rem;
  --size-22xl: 28rem;
  --size-23xl: 32rem;
  --size-24xl: 36rem;
  --size-25xl: 40rem;
  --border-zero: 0;
  --border-main: 0.0625rem;
  --radius-zero: 0;
  --radius-xxs: 0.25rem;
  --radius-xs: 0.5rem;
  --radius-sm: 0.75rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-full: 62.5rem;
  --color-alpha-dark-5: oklch(0 0 0 / 0.05);
  --color-alpha-dark-10: oklch(0 0 0 / 0.1);
  --color-alpha-dark-20: oklch(0 0 0 / 0.2);
  --color-alpha-dark-30: oklch(0 0 0 / 0.3);
  --color-alpha-dark-40: oklch(0 0 0 / 0.4);
  --color-alpha-dark-50: oklch(0 0 0 / 0.5);
  --color-alpha-dark-60: oklch(0 0 0 / 0.6);
  --color-alpha-dark-70: oklch(0 0 0 / 0.7);
  --color-alpha-dark-80: oklch(0 0 0 / 0.8);
  --color-alpha-dark-90: oklch(0 0 0 / 0.9);
  --color-alpha-dark-95: oklch(0 0 0 / 0.95);
  --components-navigation-tab-bar-radius: var(--rounded-32);
  --components-navigation-top-bar-background: oklch(1 0 89.88);
  --components-button-color-primary: oklch(0.5884 0.2244 262.18);
  --components-button-color-primary-hover: oklch(0.5367 0.2286 262.17);
  --components-button-color-primary-pressed: oklch(0.5018 0.2437 262.6);
  --components-input-field-size: var(--size-6xl);
  --components-button-color-primary-on-surface: oklch(1 0 89.88);
  --components-button-color-secondary: oklch(0.589 0.2241 286.64);
  --components-button-color-secondary-hover: oklch(0.5228 0.251 286.17);
  --components-button-color-secondary-pressed: oklch(0.4714 0.2473 284.71);
  --components-button-color-secondary-on-surface: oklch(1 0 89.88);
  --components-button-font-weight: var(--font-weight-500);
  --components-input-border-width: var(--border-1);
  --components-input-shadow-color: oklch(0 0 0 / 0.1);
  --components-input-field-padding: var(--size-lg);
  --components-button-sm-padding-x: var(--size-sm);
  --components-button-sm-size: var(--size-4xl);
  --components-input-field-radius: var(--radius-sm);
  --components-button-sm-radius: var(--radius-sm);
  --components-button-md-padding-x: var(--size-md);
  --components-button-md-size: var(--size-5xl);
  --components-button-md-radius: var(--radius-sm);
  --components-button-lg-padding-x: var(--size-lg);
  --components-button-lg-size: var(--size-6xl);
  --components-button-lg-radius: var(--radius-sm);
  --components-input-highlight-color: oklch(0.1684 0 89.88);
  --components-button-filter-padding-x: var(--size-sm);
  --components-button-filter-size: var(--size-4xl);
  --components-button-filter-radius: var(--radius-full);
}
