/* Share — English */
:root {
  --heading-font: var(--font-family-inter);
  --subhead-font: var(--font-family-inter);
  --subhead-mobile-sm-size: var(--font-size-16);
  --subhead-mobile-md-size: var(--font-size-18);
  --subhead-mobile-lg-size: var(--font-size-24);
  --subhead-mobile-lg-weight: var(--font-weight-500);
  --subhead-mobile-lg-line-height: var(--font-line-height-32);
  --subhead-mobile-lg-spacing: var(--font-spacing-0-5);
  --subhead-mobile-md-weight: var(--font-weight-500);
  --subhead-mobile-md-line-height: var(--font-line-height-28);
  --subhead-mobile-md-spacing: var(--font-spacing-0-5);
  --subhead-mobile-sm-weight: var(--font-weight-500);
  --subhead-mobile-sm-line-height: var(--font-line-height-24);
  --subhead-mobile-sm-spacing: var(--font-spacing-0);
  --paragraph-font: var(--font-family-inter);
  --paragraph-xxs-size: var(--font-size-10);
  --paragraph-xxs-weight: var(--font-weight-400);
  --paragraph-xxs-weight-strong: var(--font-weight-700);
  --paragraph-xxs-line-height: var(--font-line-height-10);
  --paragraph-xxs-spacing: var(--font-spacing-0);
  --paragraph-xs-size: var(--font-size-12);
  --paragraph-xs-weight: var(--font-weight-400);
  --paragraph-xs-weight-strong: var(--font-weight-700);
  --paragraph-xs-line-height: var(--font-line-height-18);
  --paragraph-xs-spacing: var(--font-spacing-0);
  --paragraph-sm-size: var(--font-size-14);
  --paragraph-sm-weight: var(--font-weight-400);
  --paragraph-sm-weight-strong: var(--font-weight-700);
  --paragraph-sm-line-height: var(--font-line-height-20);
  --paragraph-sm-spacing: var(--font-spacing-0);
  --paragraph-md-size: var(--font-size-16);
  --paragraph-md-weight: var(--font-weight-400);
  --paragraph-md-weight-strong: var(--font-weight-700);
  --paragraph-md-line-height: var(--font-line-height-24);
  --paragraph-md-spacing: var(--font-spacing-0);
  --heading-desktop-sm-size: var(--font-size-24);
  --heading-desktop-sm-weight: var(--font-weight-500);
  --heading-desktop-sm-line-height: var(--font-line-height-32);
  --heading-desktop-sm-spacing: var(--font-spacing-0);
  --heading-desktop-md-size: var(--font-size-30);
  --heading-desktop-md-weight: var(--font-weight-500);
  --heading-desktop-md-line-height: var(--font-line-height-36);
  --heading-desktop-md-spacing: var(--font-spacing-1);
  --heading-desktop-lg-size: var(--font-size-36);
  --heading-desktop-lg-weight: var(--font-weight-600);
  --heading-desktop-lg-line-height: var(--font-line-height-40);
  --heading-desktop-lg-spacing: var(--font-spacing-1);
  --heading-desktop-xl-size: var(--font-size-48);
  --heading-desktop-xl-weight: var(--font-weight-600);
  --heading-desktop-xl-line-height: var(--font-line-height-48);
  --heading-desktop-xl-spacing: var(--font-spacing-2);
  --heading-mobile-sm-size: var(--font-size-18);
  --heading-mobile-sm-weight: var(--font-weight-600);
  --heading-mobile-sm-line-height: var(--font-line-height-28);
  --heading-mobile-sm-spacing: var(--font-spacing-0-5);
  --heading-mobile-md-size: var(--font-size-24);
  --heading-mobile-md-weight: var(--font-weight-600);
  --heading-mobile-md-line-height: var(--font-line-height-32);
  --heading-mobile-md-spacing: var(--font-spacing-0-5);
  --heading-mobile-lg-size: var(--font-size-32);
  --heading-mobile-lg-weight: var(--font-weight-600);
  --heading-mobile-lg-line-height: var(--font-line-height-36);
  --heading-mobile-lg-spacing: var(--font-spacing-0-5);
}

/* Share — Arabic */
[data-theme="arabic"] {
  --heading-font: var(--font-family-din-next-lt-arabic);
  --subhead-font: var(--font-family-din-next-lt-arabic);
  --subhead-mobile-sm-size: var(--font-size-16);
  --subhead-mobile-md-size: var(--font-size-18);
  --subhead-mobile-lg-size: var(--font-size-24);
  --subhead-mobile-lg-weight: var(--font-weight-500);
  --subhead-mobile-lg-line-height: var(--font-line-height-32);
  --subhead-mobile-lg-spacing: var(--font-spacing-0);
  --subhead-mobile-md-weight: var(--font-weight-500);
  --subhead-mobile-md-line-height: var(--font-line-height-28);
  --subhead-mobile-md-spacing: var(--font-spacing-0);
  --subhead-mobile-sm-weight: var(--font-weight-500);
  --subhead-mobile-sm-line-height: var(--font-line-height-24);
  --subhead-mobile-sm-spacing: var(--font-spacing-0);
  --paragraph-font: var(--font-family-din-next-lt-arabic);
  --paragraph-xxs-size: var(--font-size-10);
  --paragraph-xxs-weight: var(--font-weight-400);
  --paragraph-xxs-weight-strong: var(--font-weight-400);
  --paragraph-xxs-line-height: var(--font-line-height-10);
  --paragraph-xxs-spacing: var(--font-spacing-0);
  --paragraph-xs-size: var(--font-size-12);
  --paragraph-xs-weight: var(--font-weight-400);
  --paragraph-xs-weight-strong: var(--font-weight-400);
  --paragraph-xs-line-height: var(--font-line-height-18);
  --paragraph-xs-spacing: var(--font-spacing-0);
  --paragraph-sm-size: var(--font-size-14);
  --paragraph-sm-weight: var(--font-weight-400);
  --paragraph-sm-weight-strong: var(--font-weight-400);
  --paragraph-sm-line-height: var(--font-line-height-20);
  --paragraph-sm-spacing: var(--font-spacing-0);
  --paragraph-md-size: var(--font-size-16);
  --paragraph-md-weight: var(--font-weight-400);
  --paragraph-md-weight-strong: var(--font-weight-400);
  --paragraph-md-line-height: var(--font-line-height-24);
  --paragraph-md-spacing: var(--font-spacing-0);
  --heading-desktop-sm-size: var(--font-size-24);
  --heading-desktop-sm-weight: var(--font-weight-500);
  --heading-desktop-sm-line-height: var(--font-line-height-32);
  --heading-desktop-sm-spacing: var(--font-spacing-0);
  --heading-desktop-md-size: var(--font-size-30);
  --heading-desktop-md-weight: var(--font-weight-500);
  --heading-desktop-md-line-height: var(--font-line-height-36);
  --heading-desktop-md-spacing: var(--font-spacing-0);
  --heading-desktop-lg-size: var(--font-size-36);
  --heading-desktop-lg-weight: var(--font-weight-600);
  --heading-desktop-lg-line-height: var(--font-line-height-40);
  --heading-desktop-lg-spacing: var(--font-spacing-0);
  --heading-desktop-xl-size: var(--font-size-48);
  --heading-desktop-xl-weight: var(--font-weight-600);
  --heading-desktop-xl-line-height: var(--font-line-height-48);
  --heading-desktop-xl-spacing: var(--font-spacing-0);
  --heading-mobile-sm-size: var(--font-size-18);
  --heading-mobile-sm-weight: var(--font-weight-600);
  --heading-mobile-sm-line-height: var(--font-line-height-28);
  --heading-mobile-sm-spacing: var(--font-spacing-0);
  --heading-mobile-md-size: var(--font-size-24);
  --heading-mobile-md-weight: var(--font-weight-600);
  --heading-mobile-md-line-height: var(--font-line-height-32);
  --heading-mobile-md-spacing: var(--font-spacing-0);
  --heading-mobile-lg-size: var(--font-size-32);
  --heading-mobile-lg-weight: var(--font-weight-600);
  --heading-mobile-lg-line-height: var(--font-line-height-36);
  --heading-mobile-lg-spacing: var(--font-spacing-0);
}
